<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:100,300,400,500,700" rel="stylesheet" type="text/css">
    <title>Weather Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="weather-app">
	<svg version="1.1" id="background-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	y="0px" viewBox="0 0 1080 1920" enable-background="new 0 0 1080 1920" xml:space="preserve">
		<style>
			.st79{fill:none;stroke:#FFFFFF;stroke-width:13;stroke-linejoin:round;stroke-miterlimit:10;}
		</style>
		<g id="final-weather">
			<g>
				<defs>
					<rect id="SVGID_1_" y="-1" width="1080" height="1921"/>
				</defs>
				<clipPath id="SVGID_2_">
					<use xlink:href="#SVGID_1_"  overflow="visible"/>
				</clipPath>
				<g id="All-Assets" clip-path="url(#SVGID_2_)">
					<rect id="Sky" y="-2" fill="#00CC91" width="1080" height="1921"/>
					<g id="Stars" display="none">
						<g id="Star_Cluster_27_" display="inline">
							<path id="star1_105_" fill="#3094F8" d="M862.6,467c0,0-9.9-2.6-19.7-2.3c-1.8,5.6-2.3,19.4-2.3,19.4s-1.3-10.1-6.2-18.5
								c-4.5,0.9-13,5.2-13,5.2s5.8-5.2,8.8-11.4c-3.1-3.9-11.4-9.9-11.4-9.9s8.3,3.8,15.2,3.6c1.3-4.8,0.5-18.5,0.5-18.5
								s0.9,9,6.3,17.2c4.6-1.2,16.1-7.8,16.1-7.8s-6,4.9-10.5,12.7C850.5,461.2,862.6,467,862.6,467z"/>
							<path id="star1_104_" fill="#FBF0A6" d="M1068.6,54.3c0,0-9.9-2.6-19.7-2.3c-1.8,5.6-2.3,19.4-2.3,19.4s-1.3-10.1-6.2-18.5
								c-4.5,0.9-13,5.2-13,5.2s5.8-5.2,8.8-11.4c-3.1-3.9-11.4-9.9-11.4-9.9s8.3,3.8,15.2,3.6c1.3-4.8,0.5-18.5,0.5-18.5
								s0.9,9,6.3,17.2c4.6-1.2,16.1-7.8,16.1-7.8s-6,4.9-10.5,12.7C1056.5,48.5,1068.6,54.3,1068.6,54.3z"/>
							<path id="star1_103_" fill="#FBF0A6" d="M691.6,103.7c0,0-7.2-1.9-14.4-1.6c-1.3,4.1-1.7,14.1-1.7,14.1s-0.9-7.4-4.5-13.5
								c-3.3,0.7-9.5,3.8-9.5,3.8s4.2-3.8,6.4-8.3c-2.2-2.8-8.3-7.2-8.3-7.2s6.1,2.8,11.1,2.6c1-3.5,0.3-13.5,0.3-13.5
								s0.6,6.6,4.6,12.5c3.4-0.9,11.7-5.7,11.7-5.7s-4.4,3.6-7.6,9.3C682.8,99.4,691.6,103.7,691.6,103.7z"/>
							<path id="star1_102_" fill="#3094F8" d="M768.6,173.8c0,0-7.2-1.9-14.4-1.6c-1.3,4.1-1.7,14.1-1.7,14.1s-0.9-7.4-4.5-13.5
								c-3.3,0.7-9.5,3.8-9.5,3.8s4.2-3.8,6.4-8.3c-2.2-2.8-8.3-7.2-8.3-7.2s6.1,2.8,11.1,2.6c1-3.5,0.3-13.5,0.3-13.5
								s0.6,6.6,4.6,12.5c3.4-0.9,11.7-5.7,11.7-5.7s-4.4,3.6-7.6,9.3C759.8,169.6,768.6,173.8,768.6,173.8z"/>
							<path id="star1_101_" fill="#3094F8" d="M1068.6,205.8c0,0-7.2-1.9-14.4-1.6c-1.3,4.1-1.7,14.1-1.7,14.1s-0.9-7.4-4.5-13.5
								c-3.3,0.7-9.5,3.8-9.5,3.8s4.2-3.8,6.4-8.3c-2.2-2.8-8.3-7.2-8.3-7.2s6.1,2.8,11.1,2.6c1-3.5,0.3-13.5,0.3-13.5
								s0.6,6.6,4.6,12.5c3.4-0.9,11.7-5.7,11.7-5.7s-4.4,3.6-7.6,9.3C1059.8,201.6,1068.6,205.8,1068.6,205.8z"/>
							<path id="star1_100_" fill="#3094F8" d="M862.6,207.6c0,0-9.9-2.6-19.7-2.3c-1.8,5.6-2.3,19.4-2.3,19.4s-1.3-10.1-6.2-18.5
								c-4.5,0.9-13,5.2-13,5.2s5.8-5.2,8.8-11.4c-3.1-3.9-11.4-9.9-11.4-9.9s8.3,3.8,15.2,3.6c1.3-4.8,0.5-18.5,0.5-18.5
								s0.9,9,6.3,17.2c4.6-1.2,16.1-7.8,16.1-7.8s-6,4.9-10.5,12.7C850.5,201.7,862.6,207.6,862.6,207.6z"/>
							<path id="icon:5_174_" fill="#FBF0A6" d="M765.3,371.8l-1.9,13.3l-1.5-13.4c-0.5-0.1-1-0.3-1.5-0.5l-21.5,16.1l16.9-21.1
								c-0.2-0.4-0.3-0.9-0.4-1.4l-13.5-2l13.6-1.5c0.1-0.4,0.2-0.9,0.4-1.3l-16.2-21.8l21.3,17.1c0.4-0.1,0.8-0.2,1.1-0.3l2-13.7
								l1.5,13.8c0.4,0.1,0.8,0.2,1.1,0.3l21.9-16.3l-16.9,21.2c0.2,0.4,0.3,0.8,0.4,1.3l13.5,2l-13.5,1.5c-0.1,0.5-0.2,1-0.4,1.4
								l16.1,21.7l-21-16.8C766.3,371.6,765.8,371.7,765.3,371.8z"/>
							<path id="icon:5_173_" fill="#FBF0A6" d="M855.8,101.3l-1.4,9.6l-1.1-9.7c-0.4-0.1-0.7-0.2-1.1-0.4l-15.5,11.6l12.2-15.2
								c-0.1-0.3-0.2-0.7-0.3-1l-9.7-1.4l9.8-1.1c0.1-0.3,0.2-0.6,0.3-0.9l-11.7-15.7l15.3,12.3c0.3-0.1,0.5-0.2,0.8-0.2l1.4-9.9
								l1.1,9.9c0.3,0.1,0.6,0.1,0.8,0.2l15.8-11.8l-12.2,15.3c0.1,0.3,0.2,0.6,0.3,0.9l9.8,1.4l-9.7,1.1c-0.1,0.3-0.2,0.7-0.3,1
								l11.6,15.6L856.9,101C856.6,101.2,856.2,101.3,855.8,101.3z"/>
							<path id="icon:5_172_" fill="#FBF0A6" d="M1011.4,344.4l-1.4,9.7l-1.1-9.7c-0.4-0.1-0.7-0.2-1.1-0.4l-15.6,11.6l12.2-15.3
								c-0.1-0.3-0.2-0.7-0.3-1l-9.7-1.4l9.9-1.1c0.1-0.3,0.2-0.6,0.3-0.9l-11.7-15.8l15.4,12.4c0.3-0.1,0.5-0.2,0.8-0.2l1.5-9.9
								l1.1,10c0.3,0.1,0.6,0.1,0.8,0.2l15.8-11.8l-12.3,15.4c0.1,0.3,0.2,0.6,0.3,0.9l9.8,1.4l-9.8,1.1c-0.1,0.3-0.2,0.7-0.3,1
								l11.7,15.7l-15.2-12.2C1012.1,344.2,1011.7,344.3,1011.4,344.4z"/>
							<path id="icon:5_171_" fill="#FBF0A6" d="M661.1,228.1l-0.7,4.8l-0.5-4.9c-0.2,0-0.4-0.1-0.5-0.2l-7.8,5.8l6.1-7.7
								c-0.1-0.2-0.1-0.3-0.1-0.5l-4.9-0.7l4.9-0.5c0-0.2,0.1-0.3,0.1-0.5l-5.9-7.9l7.7,6.2c0.1-0.1,0.3-0.1,0.4-0.1l0.7-5l0.5,5
								c0.1,0,0.3,0.1,0.4,0.1l7.9-5.9l-6.2,7.7c0.1,0.2,0.1,0.3,0.1,0.5l4.9,0.7l-4.9,0.5c0,0.2-0.1,0.3-0.2,0.5l5.9,7.9l-7.6-6.1
								C661.5,228,661.3,228.1,661.1,228.1z"/>
							<ellipse fill="#FBF0A6" cx="1046.5" cy="127.7" rx="6.5" ry="6.5"/>
							<ellipse fill="#FBF0A6" cx="967" cy="438.7" rx="9" ry="9"/>
							<ellipse fill="#3094F8" cx="958.5" cy="37.6" rx="10.5" ry="10.5"/>
							<path id="icon:5_170_" fill="#3094F8" d="M752.9,264.6l-13.1,2.3c-3.4,0.6-6,3.3-6.5,6.7l-1.9,13.5l-2.3-13.2
								c-0.6-3.4-3.3-6-6.7-6.5l-13.4-1.9l13.1-2.3c3.4-0.6,6-3.3,6.5-6.7l1.9-13.5l2.3,13.2c0.6,3.4,3.3,6,6.7,6.5L752.9,264.6z"/>
							<path id="icon:5_169_" fill="#3094F8" d="M785.9,48.3l-13.1,2.3c-3.4,0.6-6,3.3-6.5,6.7l-1.9,13.5l-2.3-13.2
								c-0.6-3.4-3.3-6-6.7-6.5L742,49.2l13.1-2.3c3.4-0.6,6-3.3,6.5-6.7l1.9-13.5l2.3,13.2c0.6,3.4,3.3,6,6.7,6.5L785.9,48.3z"/>
							<path id="icon:5_168_" fill="#3094F8" d="M928.4,388.1l-8.8,1.5c-2.3,0.4-4,2.2-4.4,4.5l-1.2,9l-1.5-8.8
								c-0.4-2.3-2.2-4-4.5-4.4l-9-1.3l8.8-1.5c2.3-0.4,4-2.2,4.4-4.5l1.2-9l1.5,8.8c0.4,2.3,2.2,4,4.5,4.4L928.4,388.1z"/>
							<path id="icon:5_167_" fill="#3094F8" d="M1072.2,278.6l-14.1,2.4c-3.7,0.6-6.5,3.6-7,7.2l-2,14.5l-2.4-14.1
								c-0.6-3.7-3.6-6.5-7.2-7l-14.4-2l14.1-2.4c3.7-0.6,6.5-3.6,7-7.2l2-14.5l2.4,14.1c0.6,3.7,3.6,6.5,7.2,7L1072.2,278.6z"/>
							<path id="icon:5_166_" fill="#FBF0A6" d="M876.9,21.8l-6.6,1.1c-1.7,0.3-3,1.7-3.3,3.4l-0.9,6.8l-1.1-6.6
								c-0.3-1.7-1.7-3-3.4-3.3l-6.8-0.9l6.6-1.1c1.7-0.3,3-1.7,3.3-3.4l0.9-6.8l1.1,6.6c0.3,1.7,1.7,3,3.4,3.3L876.9,21.8z"/>
							<path id="icon:5_165_" fill="#FBF0A6" d="M854.9,384.4l-6.6,1.1c-1.7,0.3-3,1.7-3.3,3.4l-0.9,6.8l-1.1-6.6
								c-0.3-1.7-1.7-3-3.4-3.3l-6.8-0.9l6.6-1.1c1.7-0.3,3-1.7,3.3-3.4l0.9-6.8l1.1,6.6c0.3,1.7,1.7,3,3.4,3.3L854.9,384.4z"/>
						</g>
						<!-- <g id="Star_Cluster_26_" display="inline">
							<path id="star1_99_" fill="#3094F8" d="M132.5,62c0,0,2.5-7,2.9-14.2c-3.9-1.7-13.9-2.9-13.9-2.9s7.4-0.3,13.8-3.3
								c-0.4-3.4-2.9-9.8-2.9-9.8s3.4,4.6,7.7,7.2c3-2,7.9-7.7,7.9-7.7s-3.3,5.8-3.6,10.8c3.4,1.3,13.4,1.6,13.4,1.6s-6.6,0-12.9,3.4
								c0.6,3.4,4.6,12.2,4.6,12.2s-3.2-4.7-8.5-8.4C137.5,53.6,132.5,62,132.5,62z"/>
							<path id="star1_98_" fill="#FBF0A6" d="M153.9,245.4c0,0,2.8-8,3.3-16.2c-4.5-1.9-15.8-3.3-15.8-3.3s8.4-0.3,15.7-3.7
								c-0.4-3.8-3.4-11.1-3.4-11.1s3.9,5.2,8.7,8.2c3.4-2.3,9-8.7,9-8.7s-3.8,6.6-4.1,12.3c3.9,1.4,15.2,1.8,15.2,1.8
								s-7.5,0-14.7,3.9c0.6,3.9,5.2,13.9,5.2,13.9s-3.6-5.3-9.7-9.6C159.6,235.8,153.9,245.4,153.9,245.4z"/>
							<path id="icon:5_164_" fill="#FBF0A6" d="M196.8,155.5l-9.4-2.3l9.7-0.2c0.1-0.4,0.3-0.7,0.4-1.1l-10.1-16.5l14,13.5
								c0.3-0.1,0.7-0.2,1-0.2l2.3-9.6l0.2,9.9c0.3,0.1,0.6,0.2,0.9,0.4l16.7-10.2l-13.6,14.2c0.1,0.3,0.1,0.6,0.2,0.8l9.7,2.3
								l-10,0.2c-0.1,0.3-0.2,0.5-0.3,0.8l10.3,16.8l-14.1-13.6c-0.3,0.1-0.6,0.2-0.9,0.2l-2.3,9.6l-0.2-9.8c-0.3-0.1-0.7-0.2-1-0.4
								l-16.6,10.2l13.4-14C196.9,156.3,196.8,155.9,196.8,155.5z"/>
							<path id="icon:5_163_" fill="#3094F8" d="M60.8,186.9l-9.4-2.3l9.7-0.2c0.1-0.4,0.3-0.7,0.4-1.1l-10.1-16.5l14,13.5
								c0.3-0.1,0.7-0.2,1-0.2l2.3-9.6l0.2,9.9c0.3,0.1,0.6,0.2,0.9,0.4l16.7-10.2l-13.6,14.2c0.1,0.3,0.1,0.6,0.2,0.8l9.7,2.3
								l-10,0.2c-0.1,0.3-0.2,0.5-0.3,0.8l10.3,16.8l-14.1-13.6c-0.3,0.1-0.6,0.2-0.9,0.2l-2.3,9.6l-0.2-9.8c-0.3-0.1-0.7-0.2-1-0.4
								L47.6,202L61,188C60.9,187.7,60.8,187.3,60.8,186.9z"/>
							<ellipse fill="#3094F8" cx="251" cy="263.7" rx="10.5" ry="10.5"/>
							<path id="icon:5_162_" fill="#3094F8" d="M43.6,38.2l-1.1-13.3c-0.3-3.4-2.8-6.3-6.1-7.1l-13.2-3.1l13.3-1.1
								c3.4-0.3,6.3-2.8,7.1-6.1l3.1-13.2l1.1,13.3c0.3,3.4,2.8,6.3,6.1,7.1l13.2,3.1l-13.3,1.1c-3.4,0.3-6.3,2.8-7.1,6.1L43.6,38.2z"
								/>
							<path id="icon:5_161_" fill="#3094F8" d="M255.8,90.6l-1.1-13.3c-0.3-3.4-2.8-6.3-6.1-7.1l-13.2-3.1l13.3-1.1
								c3.4-0.3,6.3-2.8,7.1-6.1l3.1-13.2L260,60c0.3,3.4,2.8,6.3,6.1,7.1l13.2,3.1L266,71.3c-3.4,0.3-6.3,2.8-7.1,6.1L255.8,90.6z"/>
							<path id="icon:5_160_" fill="#FBF0A6" d="M274,183.6l-0.5-6.7c-0.1-1.7-1.4-3.2-3.1-3.6l-6.6-1.5l6.7-0.5
								c1.7-0.1,3.2-1.4,3.6-3.1l1.5-6.7l0.5,6.7c0.1,1.7,1.4,3.2,3.1,3.6l6.6,1.5l-6.7,0.5c-1.7,0.1-3.2,1.4-3.6,3.1L274,183.6z"/>
							<path id="icon:5_159_" fill="#FBF0A6" d="M33.1,144.9l-0.9-10.4c-0.2-2.7-2.2-4.9-4.8-5.6l-10.3-2.4l10.4-0.9
								c2.7-0.2,4.9-2.2,5.5-4.8l2.4-10.4l0.9,10.4c0.2,2.7,2.2,4.9,4.8,5.6l10.3,2.4L41,129.7c-2.7,0.2-4.9,2.2-5.5,4.8L33.1,144.9z"
								/>
						</g>
						<g id="Star_Cluster_25_" display="inline">
							<path id="star1_97_" fill="#FBF0A6" d="M706.2,403.1c0,0-4.3-9.3-10.8-16.7C689.9,388.5,679,397,679,397s7-7.4,10.3-16.5
								c-3.6-2.9-12.3-6.7-12.3-6.7s7.7,1.2,14.4-0.4c1-4.8,0.4-15.1,0.4-15.1s2.3,8.9,6.8,14c4.5-2,14.6-11.4,14.6-11.4
								s-6.4,6.4-9.3,15.8c3.8,2.8,16.2,7.5,16.2,7.5s-7.6-1.5-16.4-0.1C703,390.1,706.2,403.1,706.2,403.1z"/>
							<path id="star1_96_" fill="#FBF0A6" d="M428.8,142.7c0,0-3.1-6.8-7.9-12.2c-4,1.6-12,7.7-12,7.7s5.1-5.4,7.5-12
								c-2.6-2.1-8.9-4.9-8.9-4.9s5.6,0.8,10.5-0.3c0.8-3.5,0.3-11,0.3-11s1.7,6.5,5,10.2c3.3-1.5,10.6-8.3,10.6-8.3
								s-4.7,4.6-6.8,11.5c2.8,2,11.8,5.5,11.8,5.5s-5.5-1.1-12,0C426.5,133.1,428.8,142.7,428.8,142.7z"/>
							<path id="star1_95_" fill="#3094F8" d="M423.6,246.7c0,0-3.1-6.8-7.9-12.2c-4,1.6-12,7.7-12,7.7s5.1-5.4,7.5-12
								c-2.6-2.1-8.9-4.9-8.9-4.9s5.6,0.8,10.5-0.3c0.8-3.5,0.3-11,0.3-11s1.7,6.5,5,10.2c3.3-1.5,10.6-8.3,10.6-8.3
								s-4.7,4.6-6.8,11.5c2.8,2,11.8,5.5,11.8,5.5s-5.5-1.1-12,0C421.2,237.2,423.6,246.7,423.6,246.7z"/>
							<path id="star1_94_" fill="#FBF0A6" d="M567.3,362.4c0,0-3.6-7.7-9-13.9c-4.5,1.8-13.6,8.8-13.6,8.8s5.8-6.1,8.6-13.7
								c-3-2.4-10.2-5.6-10.2-5.6s6.4,1,11.9-0.3c0.9-4,0.3-12.6,0.3-12.6s1.9,7.4,5.7,11.7c3.8-1.7,12.1-9.4,12.1-9.4
								s-5.3,5.3-7.7,13.1c3.2,2.3,13.5,6.3,13.5,6.3s-6.3-1.3-13.6,0C564.6,351.6,567.3,362.4,567.3,362.4z"/>
							<path id="icon:5_158_" fill="#FBF0A6" d="M534.9,268.3l-8.3,5l6.8-6.9c-0.2-0.3-0.3-0.7-0.4-1.1l-18.8-4.7l19.5-0.2
								c0.2-0.3,0.4-0.6,0.6-0.8l-5.1-8.4l7.1,6.9c0.3-0.1,0.6-0.3,0.9-0.3l4.7-19l0.2,19.7c0.2,0.1,0.5,0.3,0.7,0.5l8.5-5.1l-7,7.1
								c0.1,0.3,0.2,0.5,0.3,0.8l19.1,4.7l-19.5,0.2c-0.2,0.3-0.3,0.5-0.5,0.8l5.1,8.5l-7-6.9c-0.3,0.2-0.6,0.3-1,0.4l-4.7,18.9
								l-0.2-19.4C535.5,268.7,535.2,268.5,534.9,268.3z"/>
							<path id="icon:5_157_" fill="#FBF0A6" d="M313.4,198l-4.2,2.5l3.4-3.5c-0.1-0.2-0.2-0.3-0.2-0.5l-9.5-2.4l9.8-0.1
								c0.1-0.2,0.2-0.3,0.3-0.4l-2.6-4.2l3.6,3.5c0.1-0.1,0.3-0.1,0.4-0.2l2.4-9.6l0.1,9.9c0.1,0.1,0.2,0.2,0.4,0.2l4.3-2.6l-3.5,3.6
								c0.1,0.1,0.1,0.3,0.2,0.4l9.6,2.4l-9.9,0.1c-0.1,0.1-0.2,0.3-0.3,0.4l2.6,4.3l-3.5-3.5c-0.2,0.1-0.3,0.2-0.5,0.2l-2.4,9.5
								l-0.1-9.8C313.7,198.3,313.6,198.2,313.4,198z"/>
							<ellipse fill="#3094F8" cx="649.2" cy="307.3" rx="10.5" ry="10.5"/>
							<path id="icon:5_156_" fill="#3094F8" d="M343.6,292.3l-10.1-8.7c-2.6-2.3-6.4-2.6-9.3-0.8l-11.6,7.1l8.7-10.1
								c2.3-2.6,2.6-6.4,0.8-9.3l-7.1-11.6l10.1,8.7c2.6,2.3,6.4,2.6,9.3,0.8l11.6-7.1l-8.7,10.1c-2.3,2.6-2.6,6.4-0.8,9.3
								L343.6,292.3z"/>
							<path id="icon:5_155_" fill="#3094F8" d="M531.4,180.5l-10.1-8.7c-2.6-2.3-6.4-2.6-9.3-0.8l-11.6,7.1l8.7-10.1
								c2.3-2.6,2.6-6.4,0.8-9.3l-7.1-11.6l10.1,8.7c2.6,2.3,6.4,2.6,9.3,0.8l11.6-7.1l-8.7,10.1c-2.3,2.6-2.6,6.4-0.8,9.3
								L531.4,180.5z"/>
							<path id="icon:5_154_" fill="#FBF0A6" d="M609.6,234.1l-5.1-4.4c-1.3-1.1-3.2-1.3-4.7-0.4l-5.8,3.6l4.4-5.1
								c1.1-1.3,1.3-3.2,0.4-4.7l-3.6-5.8l5.1,4.4c1.3,1.1,3.2,1.3,4.7,0.4l5.8-3.6l-4.4,5.1c-1.1,1.3-1.3,3.2-0.4,4.7L609.6,234.1z"
								/>
						</g>
						<g id="Star_Cluster_24_" display="inline">
							<path id="star1_93_" fill="#FBF0A6" d="M588.7,104.5c0,0,3.6-9.6,4.3-19.4c-5.4-2.4-19-4.3-19-4.3s10.1-0.2,19-4.2
								c-0.4-4.6-3.9-13.4-3.9-13.4s4.6,6.3,10.4,10c4.2-2.7,11-10.4,11-10.4s-4.7,7.9-5.1,14.7c4.6,1.8,18.3,2.4,18.3,2.4
								s-9-0.1-17.7,4.5c0.7,4.7,6.1,16.8,6.1,16.8s-4.2-6.5-11.5-11.7C595.7,93,588.7,104.5,588.7,104.5z"/>
							<path id="star1_92_" fill="#FBF0A6" d="M519.9-23c0,0,3-8,3.5-16.1c-4.5-2-15.8-3.5-15.8-3.5s8.4-0.2,15.8-3.5
								c-0.4-3.8-3.2-11.2-3.2-11.2s3.8,5.2,8.6,8.3c3.5-2.2,9.2-8.6,9.2-8.6s-3.9,6.6-4.3,12.3c3.9,1.5,15.2,2,15.2,2
								s-7.5-0.1-14.7,3.7c0.6,3.9,5,14,5,14s-3.5-5.4-9.6-9.7C525.7-32.6,519.9-23,519.9-23z"/>
							<path id="star1_91_" fill="#3094F8" d="M438.2,88.9c0,0,2.6-7,3.1-14.2c-3.9-1.8-13.9-3.1-13.9-3.1s7.4-0.2,13.8-3.1
								c-0.3-3.4-2.8-9.8-2.8-9.8s3.4,4.6,7.6,7.3c3-1.9,8-7.6,8-7.6s-3.4,5.8-3.8,10.8c3.4,1.3,13.4,1.7,13.4,1.7s-6.6-0.1-12.9,3.3
								c0.5,3.4,4.4,12.3,4.4,12.3s-3.1-4.7-8.4-8.6C443.3,80.6,438.2,88.9,438.2,88.9z"/>
							<path id="icon:5_153_" fill="#3094F8" d="M460.3,4.8l-9.4-2.4l9.7-0.1c0.1-0.4,0.3-0.7,0.5-1l-9.9-16.7L465-1.6
								c0.3-0.1,0.7-0.1,1-0.2l2.4-9.5l0.1,9.9c0.3,0.1,0.6,0.2,0.9,0.4l16.8-10L472.4,3c0.1,0.3,0.1,0.6,0.1,0.8l9.7,2.5l-10,0.1
								c-0.1,0.3-0.2,0.5-0.3,0.8l10,16.8L468,10.3c-0.3,0.1-0.6,0.1-0.9,0.2l-2.4,9.6l-0.1-9.8c-0.3-0.1-0.7-0.2-1-0.4l-16.7,10
								L460.5,6C460.4,5.6,460.3,5.2,460.3,4.8z"/>
							<path id="icon:5_152_" fill="#FBF0A6" d="M306.5,17.7l-9.4-2.4l9.7-0.1c0.1-0.4,0.3-0.7,0.5-1l-10-16.7l13.9,13.7
								c0.3-0.1,0.7-0.1,1-0.2l2.4-9.6l0.1,9.9c0.3,0.1,0.6,0.2,0.9,0.4l16.9-10.1l-13.9,14.1c0.1,0.3,0.1,0.6,0.2,0.8l9.7,2.5
								l-10,0.1c-0.1,0.3-0.2,0.5-0.3,0.8l10.1,17l-14-13.8c-0.3,0.1-0.6,0.1-0.9,0.2l-2.4,9.6l-0.1-9.9c-0.3-0.1-0.7-0.2-1-0.4
								l-16.8,10l13.6-13.9C306.6,18.4,306.5,18,306.5,17.7z"/>
							<ellipse fill="#FBF0A6" cx="518.1" cy="74.9" rx="6.5" ry="6.5"/>
							<ellipse fill="#FBF0A6" cx="530.6" cy="21.8" rx="6.5" ry="6.5"/>
							<ellipse fill="#FBF0A6" cx="217.4" cy="-36.2" rx="9" ry="9"/>
							<ellipse fill="#FBF0A6" cx="447" cy="309.5" rx="14" ry="14"/>
							<ellipse fill="#3094F8" cx="616.6" cy="-3.5" rx="10.5" ry="10.5"/>
							<path id="icon:5_151_" fill="#3094F8" d="M365.6,85l-1-14.3c-0.3-3.7-2.9-6.8-6.5-7.7L344,59.5l14.3-1c3.7-0.3,6.8-2.9,7.7-6.5
								l3.5-14.2l1,14.3c0.3,3.7,2.9,6.8,6.5,7.7l14.2,3.5l-14.3,1c-3.7,0.3-6.8,2.9-7.7,6.5L365.6,85z"/>
							<path id="icon:5_150_" fill="#FBF0A6" d="M433.2-37.5l-0.7-10.4c-0.2-2.7-2.1-5-4.7-5.6L417.5-56l10.4-0.7
								c2.7-0.2,5-2.1,5.6-4.7l2.5-10.3l0.7,10.4c0.2,2.7,2.1,5,4.7,5.6l10.3,2.5l-10.4,0.7c-2.7,0.2-5,2.1-5.6,4.7L433.2-37.5z"/>
						</g> -->
					</g>
					<g id="Clouds" display="none">
						<path id="Cloud_65_" display="inline" opacity="0.5" fill="#FFFFFF" enable-background="new    " d="M1207.8,232.5
							c0-50.8-41.1-92-91.9-92c-10.8,0-21.1,1.9-30.7,5.3c-22.6-46-69.8-77.7-124.4-77.7c-72,0-131.1,55-137.9,125.3
							c-4.6-1-9.3-1.6-14.2-1.6c-35.8,0-64.8,29-64.8,64.9c0,35.8,29,64.9,64.8,64.9c0.5,0,1-0.1,1.5-0.1v0.1l240.9,3h102.4l0,0
							C1185.6,310.1,1207.8,269.9,1207.8,232.5z"/>
						<path id="Cloud_64_" display="inline" opacity="0.5" fill="#FFFFFF" enable-background="new    " d="M907.8,211.5
							c0-40.3-32.6-73-72.8-73c-8.5,0-16.7,1.5-24.3,4.2c-17.9-36.5-55.3-61.6-98.7-61.6c-57.1,0-104,43.6-109.3,99.4
							c-3.6-0.8-7.4-1.3-11.3-1.3c-28.4,0-51.3,23-51.3,51.4s23,51.4,51.3,51.4c0.4,0,0.8-0.1,1.2-0.1v0.1l191.1,2.4h81.2l0,0
							C890.1,273,907.8,241.1,907.8,211.5z"/>
						<path id="Cloud_63_" display="inline" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M474,122.7
							c0-15.3-12.4-27.8-27.7-27.8c-3.3,0-6.4,0.6-9.3,1.6c-6.8-13.9-21.1-23.4-37.6-23.4c-21.7,0-39.6,16.6-41.6,37.8
							c-1.4-0.3-2.8-0.5-4.3-0.5c-10.8,0-19.5,8.8-19.5,19.6s8.8,19.6,19.5,19.6c0.2,0,0.3,0,0.5,0l0,0l72.7,0.9h30.9l0,0
							C467.3,146.2,474,134,474,122.7z"/>
						<path id="Cloud_62_" display="inline" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M442.6,261.5
							c0-9.9-8-18-17.9-18c-2.1,0-4.1,0.4-6,1c-4.4-9-13.6-15.2-24.3-15.2c-14.1,0-25.6,10.7-26.9,24.5c-0.9-0.2-1.8-0.3-2.8-0.3
							c-7,0-12.6,5.7-12.6,12.7s5.7,12.7,12.6,12.7c0.1,0,0.2,0,0.3,0l0,0l47.1,0.6h20l0,0C438.2,276.6,442.6,268.8,442.6,261.5z"/>
					</g>
					<g id="WindyClouds" display="none">
						<path id="Cloud_61_" opacity="0.5" fill="#FFFFFF" enable-background="new    " d="M1207.8,232.5c0-50.8-41.1-92-91.9-92
							c-10.8,0-21.1,1.9-30.7,5.3c-22.6-46-69.8-77.7-124.4-77.7c-72,0-131.1,55-137.9,125.3c-4.6-1-9.3-1.6-14.2-1.6
							c-35.8,0-64.8,29-64.8,64.9c0,35.8,29,64.9,64.8,64.9c0.5,0,1-0.1,1.5-0.1v0.1l240.9,3h102.4l0,0
							C1185.6,310.1,1207.8,269.9,1207.8,232.5z"/>
						<path id="Cloud_60_" opacity="0.5" fill="#FFFFFF" enable-background="new    " d="M303.2,184.6c0-40-32.4-72.4-72.3-72.4
							c-8.5,0-16.6,1.5-24.2,4.2c-17.8-36.2-54.9-61.2-98-61.2C52.1,55.1,5.5,98.4,0.2,153.8c-3.6-0.8-7.3-1.3-11.2-1.3
							c-28.2,0-51,22.9-51,51.1s22.8,51.1,51,51.1c0.4,0,0.8-0.1,1.2-0.1v0.1l189.7,2.4h80.6l0,0C285.7,245.7,303.2,214,303.2,184.6z"
							/>
						<path id="Cloud_59_" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M401.4,455.8c0-30.5-24.7-55.2-55.1-55.2
							c-6.5,0-12.7,1.1-18.4,3.2c-13.5-27.6-41.9-46.6-74.7-46.6c-43.2,0-78.7,33-82.8,75.2c-2.7-0.6-5.6-1-8.5-1
							c-21.5,0-38.9,17.4-38.9,38.9s17.4,38.9,38.9,38.9c0.3,0,0.6,0,0.9,0l0,0l144.6,1.8h61.5l0,0C388,502.4,401.4,478.2,401.4,455.8
							z"/>
						<path id="Cloud_58_" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M824.8,514.4c0-40.6-32.9-73.6-73.4-73.6
							c-8.6,0-16.9,1.5-24.5,4.2c-18-36.8-55.8-62.1-99.5-62.1c-57.5,0-104.8,44-110.2,100.2c-3.7-0.8-7.5-1.3-11.4-1.3
							c-28.6,0-51.8,23.2-51.8,51.9c0,28.6,23.2,51.9,51.8,51.9c0.4,0,0.8-0.1,1.2-0.1v0.1l192.6,2.4h81.9l0,0
							C807,576.5,824.8,544.3,824.8,514.4z"/>
						<path id="Cloud_57_" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M1062,488c0-18.8-15.3-34.1-34.1-34.1
							c-4,0-7.8,0.7-11.4,2c-8.4-17.1-25.9-28.8-46.1-28.8c-26.7,0-48.6,20.4-51.1,46.5c-1.7-0.4-3.5-0.6-5.3-0.6
							c-13.3,0-24,10.8-24,24.1c0,13.3,10.8,24.1,24,24.1c0.2,0,0.4,0,0.6,0l0,0l89.4,1.1h38l0,0C1053.7,516.7,1062,501.8,1062,488z"
							/>
						<path id="Cloud_56_" opacity="0.5" fill="#FFFFFF" enable-background="new    " d="M907.8,211.5c0-40.3-32.6-73-72.8-73
							c-8.5,0-16.7,1.5-24.3,4.2c-17.9-36.5-55.3-61.6-98.7-61.6c-57.1,0-104,43.6-109.3,99.4c-3.6-0.8-7.4-1.3-11.3-1.3
							c-28.4,0-51.3,23-51.3,51.4s23,51.4,51.3,51.4c0.4,0,0.8-0.1,1.2-0.1v0.1l191.1,2.4h81.2l0,0C890.1,273,907.8,241.1,907.8,211.5
							z"/>
						<path id="Cloud_55_" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M474,122.7c0-15.3-12.4-27.8-27.7-27.8
							c-3.3,0-6.4,0.6-9.3,1.6c-6.8-13.9-21.1-23.4-37.6-23.4c-21.7,0-39.6,16.6-41.6,37.8c-1.4-0.3-2.8-0.5-4.3-0.5
							c-10.8,0-19.5,8.8-19.5,19.6s8.8,19.6,19.5,19.6c0.2,0,0.3,0,0.5,0l0,0l72.7,0.9h30.9l0,0C467.3,146.2,474,134,474,122.7z"/>
						<path id="Cloud_54_" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M442.6,261.5c0-9.9-8-18-17.9-18
							c-2.1,0-4.1,0.4-6,1c-4.4-9-13.6-15.2-24.3-15.2c-14.1,0-25.6,10.7-26.9,24.5c-0.9-0.2-1.8-0.3-2.8-0.3c-7,0-12.6,5.7-12.6,12.7
							s5.7,12.7,12.6,12.7c0.1,0,0.2,0,0.3,0l0,0l47.1,0.6h20l0,0C438.2,276.6,442.6,268.8,442.6,261.5z"/>
					</g>
					<g id="RainClouds" display="none">
						<path id="Cloud_53_" display="inline" opacity="0.3" fill="#32446C" enable-background="new    " d="M-276,622.1
							c0,201.2,140.1,364.2,312.9,364.2c36.7,0,71.9-7.4,104.6-20.9c76.8,182.1,237.7,307.5,423.8,307.5
							c245.2,0,446.7-217.7,469.7-496c15.6,4.1,31.8,6.4,48.4,6.4c121.8,0,220.6-115,220.6-256.8s-132.2-686.8-254-686.8
							c-1.7,0,1.7,0,0,0l0,0l-800,27L-63-68.1l-28.3,326C-200.2,314.9-276,474.2-276,622.1z"/>
						<path id="Cloud_52_" display="inline" opacity="0.9" fill="#32446C" enable-background="new    " d="M1152.8,242.5
							c0-50.8-41.1-92-91.9-92c-10.8,0-21.1,1.9-30.7,5.3c-22.6-46-69.8-77.7-124.4-77.7c-72,0-131.1,55-137.9,125.3
							c-4.6-1-9.3-1.6-14.2-1.6c-35.8,0-64.8,29-64.8,64.9c0,35.8,29,64.9,64.8,64.9c0.5,0,1-0.1,1.5-0.1v0.1l240.9,3h102.4l0,0
							C1130.6,320.1,1152.8,279.9,1152.8,242.5z"/>
						<path id="Cloud_51_" display="inline" opacity="0.9" fill="#32446C" enable-background="new    " d="M852.8,189.5
							c0-40.3-32.6-73-72.8-73c-8.5,0-16.7,1.5-24.3,4.2c-17.9-36.5-55.3-61.6-98.7-61.6c-57.1,0-104,43.6-109.3,99.4
							c-3.6-0.8-7.4-1.3-11.3-1.3c-28.4,0-51.3,23-51.3,51.4s23,51.4,51.3,51.4c0.4,0,0.8-0.1,1.2-0.1v0.1l191.1,2.4h81.2l0,0
							C835.1,251,852.8,219.1,852.8,189.5z"/>
						<path id="Cloud_50_" display="inline" opacity="0.9" fill="#32446C" enable-background="new    " d="M361.6,212.5
							c0-47.4-38.4-85.8-85.7-85.8c-10,0-19.7,1.7-28.6,4.9c-21-42.9-65.1-72.4-116-72.4C64.1,59.2,9,110.4,2.6,176
							c-4.3-1-8.7-1.5-13.3-1.5C-44,174.5-71,201.6-71,235s27,60.5,60.4,60.5c0.5,0,0.9-0.1,1.4-0.1v0.1l224.7,2.8H311l0,0
							C340.8,284.9,361.6,247.3,361.6,212.5z"/>
					</g>
					<g id="ThunderClouds" display="none">
						<g display="inline">
							<path fill="#FFDC64" d="M877.3,729.7L1031.2,394c3.9-8.5,4.4-15.2-0.5-14.6l-70.4,2.5l62.3-223.2c1.7-6.3-1.5-10.6-4.2-5.7
								L876.2,410.2c-4.5,8.1-13.4,24.8-8.3,24.6l83.9-4l-79,293.7C871.1,731.2,874.7,735.4,877.3,729.7z"/>
							<path fill="#FFC850" d="M902.9,408.7c-2,0,1.9-11.3,3.5-14.7l116.1-241.5c-0.8-2.2-2.6-2.6-4.2,0.3l-145,263
								c-4.5,8.1-10.4,19.2-5.3,19l83.9-4l-79,293.7c-1,3.8-0.3,6.6,1,7.5l98.5-303c4.4-13.5-2-25.2-8.9-25.2L902.9,408.7z"/>
						</g>
						<path id="Cloud_49_" display="inline" fill="#333333" d="M1207.8,232.5c0-50.8-41.1-92-91.9-92c-10.8,0-21.1,1.9-30.7,5.3
							c-22.6-46-69.8-77.7-124.4-77.7c-72,0-131.1,55-137.9,125.3c-4.6-1-9.3-1.6-14.2-1.6c-35.8,0-64.8,29-64.8,64.9
							c0,35.8,29,64.9,64.8,64.9c0.5,0,1-0.1,1.5-0.1v0.1l240.9,3h102.4l0,0C1185.6,310.1,1207.8,269.9,1207.8,232.5z"/>
						<path id="Cloud_48_" display="inline" fill="#333333" d="M610.8,217.8c0-53.4-49.1-96.7-109.7-96.7c-12.9,0-25.2,2-36.7,5.6
							C437.5,78.3,381.1,45,315.9,45c-85.9,0-156.6,57.8-164.6,131.7c-5.5-1.1-11.1-1.7-17-1.7C91.6,175,57,205.5,57,243.1
							s34.6,68.2,77.3,68.2c0.6,0,1.2-0.1,1.8-0.1v0.1l287.7,3.2h122.3l0,0C584.2,299.3,610.8,257,610.8,217.8z"/>
					</g>
					<path id="SkyLine" fill="#267F65" d="M-481.4,1826.8v-228h33.1v28.8h45.3l17.7,23.2l97.2,11.1v-208h70.7v97.4h55.2v55.3h22.1
						V1507h70.7v124h90.6v-62h53l8.8-201.4l-19.9-8.9l8.8-11.1l-11-11.1l26.5-33.2l4.4-119.5l8.8-8.9l8.8,8.9v119.5l24.3,33.7l-11,11
						l12,10l-23.1,9.5l8.8,338.6H134v-13.3h42v22.1h19.9l23.2-23.2h107.2l8.8-10l15.5,13.3l26.5-2.2l22.1,24.3l28.7-22.1v-26.6H450
						v19.9l33.1,33.2h13.3v-44.3h70.7l8.8,15.5l15.5-39.8h33.1l15.5,24.3l24.3-22.1V1569h88.4v59.8l30.9-31l16.6,16.6v-32.1l18.2-18.3
						v-14.9l9.1-9.1l8,8v16.6l18.2,18.3v79.1h16v-70.8h37.6c42-221.3,216.6-148.3,214.3-15.5c85.1,3.3,132.6,0,132.6,0v-39.8h28.7
						v-35.4l19.9-19.9h24.3l21,21v36.5h21v119.5h117.1v-35.4h26.5v-17.7h22.1l11-15.5l11,13.3l19.9-11.1l13.3,8.9l13.3,24.3h22.1
						l30.9,31l35.4-35.4l-8.8-13.3l13.3-13.3l17.7,17.7v-70.8l16.6-16.6v-94.1l14.9-14.9v-93.5l48.1-64.2l8.8-179.3l4.4,179.3
						l39.8,39.8V1828L-481.4,1826.8z"/>
					<path id="Dune2" fill="#00FFB5" d="M-488,1809.1c234.2-64.2,632-115.1,1166.7-50.9V1922H-488V1809.1z"/>
					<path id="IceSheet" display="none" fill="#FFFFFF" d="M0,1734.7c37.8,5.2,65.2,32.7,65.2,32.7c25.7-3.4,63.5-5.2,84.1,18.9
						c24,0,73.8,1.7,109.9,30.9c42.9,5.2,115,3.4,242,41.3c127,37.8,103,58.5,103,58.5H0V1734.7z"/>
					<path id="Dune1" fill="#4CFFCB" d="M720.1,1750.6V1718h53.6l-26.1-22H771l-28.9-26.2h22l-33-31.7h20.6l-39.9-41.3l-39.9,41.3
						h20.6l-33,31.7h22l-28.9,26.2H676l-26.1,22h53.6v34.3c-30.1,3.1-52.3,6-64.7,8.2c-81,9.4-696.1,128.4-943.5,159.3h2127.9v-99.6
						C1519.7,1701.2,944.1,1728.9,720.1,1750.6z"/>
					<path id="Moon" display="none" fill="#FBF0A6" d="M954,77.2c-16.4-9.5-33.9-15.2-51.6-17.3c31.7,44.7,36.4,105.6,7.1,156.1
						c-26,44.7-72.2,70.2-120.3,71.6c8.5,8.8,18.3,16.6,29.3,23c64.3,37.5,146.8,15.6,184.2-48.8C1040.1,197.2,1018.3,114.6,954,77.2z
						"/>
					<g id="Rain" display="none">
						
							<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-281.5999" y1="1316.4784" x2="-281.5999" y2="1444.6965" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_3_)" d="M32,298L32,298c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1c-1.1,1.9-0.4,4.4,1.5,5.5
							l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C34.6,301.6,33.9,299.1,32,298z"/>
						
							<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="282.9909" y1="1540.6069" x2="282.9909" y2="1668.8252" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_4_)" d="M633,386.2L633,386.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C635.6,389.7,634.9,387.3,633,386.2z"/>
						
							<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="-135.3475" y1="1425.1691" x2="-135.3475" y2="1553.3873" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_5_)" d="M213,277L213,277c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1c-1.1,1.9-0.4,4.4,1.5,5.5
							l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C215.6,280.6,214.9,278.1,213,277z"/>
						
							<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="-134.8595" y1="1210.3239" x2="-134.8595" y2="1338.5421" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_6_)" d="M106,463.3L106,463.3c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C108.6,466.9,107.9,464.4,106,463.3z"/>
						
							<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="56.371" y1="1013.1128" x2="56.371" y2="1141.3311" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_7_)" d="M173,729.7L173,729.7c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C175.6,733.3,174.9,730.8,173,729.7z"/>
						
							<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="1038.6222" y1="1037.8536" x2="1038.6222" y2="1166.0719" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_8_)" d="M1036,1199.4L1036,1199.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C1038.6,1203,1037.9,1200.6,1036,1199.4z"/>
						
							<linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="1091.5425" y1="742.1957" x2="1091.5425" y2="870.4139" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_9_)" d="M934,1481.9L934,1481.9c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C936.6,1485.5,935.9,1483,934,1481.9z"/>
						
							<linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="151.9392" y1="1255.5887" x2="151.9392" y2="1383.8069" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_10_)" d="M377,567.5L377,567.5c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C379.6,571,378.9,568.6,377,567.5z"/>
						
							<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="411.7886" y1="1441.5294" x2="411.7886" y2="1569.7477" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_11_)" d="M695,536.4L695,536.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C697.6,540,696.9,537.5,695,536.4z"/>
						
							<linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="749.7035" y1="1656.2609" x2="749.7035" y2="1784.4791" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_12_)" d="M1095,519.4L1095,519.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C1097.6,523,1096.9,520.5,1095,519.4z"/>
						
							<linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="844.4197" y1="1306.2125" x2="844.4197" y2="1434.4307" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_13_)" d="M1002,869.9L1002,869.9c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C1004.6,873.5,1003.9,871,1002,869.9z"/>
						
							<linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="597.5908" y1="1237.7201" x2="597.5908" y2="1365.9384" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_14_)" d="M754,805.8L754,805.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C756.6,809.4,755.9,806.9,754,805.8z"/>
						
							<linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="961.5268" y1="447.383" x2="961.5268" y2="575.6012" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_15_)" d="M674,1672.2L674,1672.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C676.6,1675.8,675.9,1673.3,674,1672.2z"/>
						
							<linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="505.6188" y1="501.0157" x2="505.6188" y2="629.2339" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_16_)" d="M306,1397.8L306,1397.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C308.6,1401.3,307.9,1398.9,306,1397.8z"/>
						
							<linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="722.3843" y1="407.7065" x2="722.3843" y2="535.9247" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_17_)" d="M447,1587.1L447,1587.1c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C449.6,1590.6,448.9,1588.2,447,1587.1z"/>
						
							<linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="824.3208" y1="685.0237" x2="824.3208" y2="813.2419" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_18_)" d="M674,1397.8L674,1397.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C676.6,1401.3,675.9,1398.9,674,1397.8z"/>
						
							<linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="576.9159" y1="795.5291" x2="576.9159" y2="923.7473" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_19_)" d="M515,1178.4L515,1178.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C517.6,1182,516.9,1179.5,515,1178.4z"/>
						
							<linearGradient id="SVGID_20_" gradientUnits="userSpaceOnUse" x1="766.3982" y1="945.3456" x2="766.3982" y2="1073.5638" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_20_)" d="M754,1143.4L754,1143.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C756.6,1146.9,755.9,1144.5,754,1143.4z"/>
						
							<linearGradient id="SVGID_21_" gradientUnits="userSpaceOnUse" x1="332.9231" y1="614.1245" x2="332.9231" y2="742.3427" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_21_)" d="M213,1213.5L213,1213.5c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C215.6,1217,214.9,1214.6,213,1213.5z"/>
						
							<linearGradient id="SVGID_22_" gradientUnits="userSpaceOnUse" x1="431.9595" y1="296.5935" x2="431.9595" y2="424.8117" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_22_)" d="M140,1538L140,1538c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C142.6,1541.5,141.9,1539.1,140,1538z"/>
						
							<linearGradient id="SVGID_23_" gradientUnits="userSpaceOnUse" x1="543.6684" y1="1691.1136" x2="543.6684" y2="1819.3319" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_23_)" d="M934,386.2L934,386.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C936.6,389.7,935.9,387.3,934,386.2z"/>
						
							<linearGradient id="SVGID_24_" gradientUnits="userSpaceOnUse" x1="345.1617" y1="1128.9274" x2="345.1617" y2="1257.1455" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_24_)" d="M481,773.8L481,773.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C483.6,777.3,482.9,774.9,481,773.8z"/>
						
							<linearGradient id="SVGID_25_" gradientUnits="userSpaceOnUse" x1="372.2989" y1="873.9257" x2="372.2989" y2="1002.1439" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_25_)" d="M377,1008.2L377,1008.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C379.6,1011.7,378.9,1009.3,377,1008.2z"/>
						
							<linearGradient id="SVGID_26_" gradientUnits="userSpaceOnUse" x1="107.2512" y1="1540.9883" x2="107.2512" y2="1669.2064" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_26_)" d="M481,298L481,298c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C483.6,301.6,482.9,299.1,481,298z"/>
						
							<linearGradient id="SVGID_27_" gradientUnits="userSpaceOnUse" x1="180.5484" y1="732.0375" x2="180.5484" y2="860.2557" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#88D5FF"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_27_)" d="M140,1035.2L140,1035.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C142.6,1038.8,141.9,1036.3,140,1035.2z"/>
					</g>
					<g id="ThunderRain" display="none">
						
							<linearGradient id="SVGID_28_" gradientUnits="userSpaceOnUse" x1="-281.5999" y1="1316.4784" x2="-281.5999" y2="1444.6965" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_28_)" d="M32,298L32,298c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1c-1.1,1.9-0.4,4.4,1.5,5.5
							l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C34.6,301.6,33.9,299.1,32,298z"/>
						
							<linearGradient id="SVGID_29_" gradientUnits="userSpaceOnUse" x1="282.9909" y1="1540.6069" x2="282.9909" y2="1668.8252" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_29_)" d="M633,386.2L633,386.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C635.6,389.7,634.9,387.3,633,386.2z"/>
						
							<linearGradient id="SVGID_30_" gradientUnits="userSpaceOnUse" x1="-135.3475" y1="1425.1691" x2="-135.3475" y2="1553.3873" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_30_)" d="M213,277L213,277c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C215.6,280.6,214.9,278.1,213,277z"/>
						
							<linearGradient id="SVGID_31_" gradientUnits="userSpaceOnUse" x1="-134.8595" y1="1210.3239" x2="-134.8595" y2="1338.5421" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_31_)" d="M106,463.3L106,463.3c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C108.6,466.9,107.9,464.4,106,463.3z"/>
						
							<linearGradient id="SVGID_32_" gradientUnits="userSpaceOnUse" x1="56.371" y1="1013.1128" x2="56.371" y2="1141.3311" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_32_)" d="M173,729.7L173,729.7c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C175.6,733.3,174.9,730.8,173,729.7z"/>
						
							<linearGradient id="SVGID_33_" gradientUnits="userSpaceOnUse" x1="1038.6222" y1="1037.8536" x2="1038.6222" y2="1166.0719" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_33_)" d="M1036,1199.4L1036,1199.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C1038.6,1203,1037.9,1200.6,1036,1199.4z"/>
						
							<linearGradient id="SVGID_34_" gradientUnits="userSpaceOnUse" x1="1091.5425" y1="742.1957" x2="1091.5425" y2="870.4139" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_34_)" d="M934,1481.9L934,1481.9c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C936.6,1485.5,935.9,1483,934,1481.9z"/>
						
							<linearGradient id="SVGID_35_" gradientUnits="userSpaceOnUse" x1="151.9392" y1="1255.5887" x2="151.9392" y2="1383.8069" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_35_)" d="M377,567.5L377,567.5c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C379.6,571,378.9,568.6,377,567.5z"/>
						
							<linearGradient id="SVGID_36_" gradientUnits="userSpaceOnUse" x1="411.7886" y1="1441.5294" x2="411.7886" y2="1569.7477" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_36_)" d="M695,536.4L695,536.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C697.6,540,696.9,537.5,695,536.4z"/>
						
							<linearGradient id="SVGID_37_" gradientUnits="userSpaceOnUse" x1="749.7035" y1="1656.2609" x2="749.7035" y2="1784.4791" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_37_)" d="M1095,519.4L1095,519.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C1097.6,523,1096.9,520.5,1095,519.4z"/>
						
							<linearGradient id="SVGID_38_" gradientUnits="userSpaceOnUse" x1="844.4197" y1="1306.2125" x2="844.4197" y2="1434.4307" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_38_)" d="M1002,869.9L1002,869.9c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C1004.6,873.5,1003.9,871,1002,869.9z"/>
						
							<linearGradient id="SVGID_39_" gradientUnits="userSpaceOnUse" x1="597.5908" y1="1237.7201" x2="597.5908" y2="1365.9384" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_39_)" d="M754,805.8L754,805.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C756.6,809.4,755.9,806.9,754,805.8z"/>
						
							<linearGradient id="SVGID_40_" gradientUnits="userSpaceOnUse" x1="961.5268" y1="447.383" x2="961.5268" y2="575.6012" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_40_)" d="M674,1672.2L674,1672.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C676.6,1675.8,675.9,1673.3,674,1672.2z"/>
						
							<linearGradient id="SVGID_41_" gradientUnits="userSpaceOnUse" x1="505.6188" y1="501.0157" x2="505.6188" y2="629.2339" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_41_)" d="M306,1397.8L306,1397.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C308.6,1401.3,307.9,1398.9,306,1397.8z"/>
						
							<linearGradient id="SVGID_42_" gradientUnits="userSpaceOnUse" x1="722.3843" y1="407.7065" x2="722.3843" y2="535.9247" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_42_)" d="M447,1587.1L447,1587.1c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C449.6,1590.6,448.9,1588.2,447,1587.1z"/>
						
							<linearGradient id="SVGID_43_" gradientUnits="userSpaceOnUse" x1="824.3208" y1="685.0237" x2="824.3208" y2="813.2419" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_43_)" d="M674,1397.8L674,1397.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C676.6,1401.3,675.9,1398.9,674,1397.8z"/>
						
							<linearGradient id="SVGID_44_" gradientUnits="userSpaceOnUse" x1="576.9159" y1="795.5291" x2="576.9159" y2="923.7473" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_44_)" d="M515,1178.4L515,1178.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C517.6,1182,516.9,1179.5,515,1178.4z"/>
						
							<linearGradient id="SVGID_45_" gradientUnits="userSpaceOnUse" x1="766.3982" y1="945.3456" x2="766.3982" y2="1073.5638" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_45_)" d="M754,1143.4L754,1143.4c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C756.6,1146.9,755.9,1144.5,754,1143.4z"/>
						
							<linearGradient id="SVGID_46_" gradientUnits="userSpaceOnUse" x1="332.9231" y1="614.1245" x2="332.9231" y2="742.3427" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_46_)" d="M213,1213.5L213,1213.5c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C215.6,1217,214.9,1214.6,213,1213.5z"/>
						
							<linearGradient id="SVGID_47_" gradientUnits="userSpaceOnUse" x1="431.9595" y1="296.5935" x2="431.9595" y2="424.8117" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_47_)" d="M140,1538L140,1538c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C142.6,1541.5,141.9,1539.1,140,1538z"/>
						
							<linearGradient id="SVGID_48_" gradientUnits="userSpaceOnUse" x1="543.6684" y1="1691.1136" x2="543.6684" y2="1819.3319" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_48_)" d="M934,386.2L934,386.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C936.6,389.7,935.9,387.3,934,386.2z"/>
						
							<linearGradient id="SVGID_49_" gradientUnits="userSpaceOnUse" x1="345.1617" y1="1128.9274" x2="345.1617" y2="1257.1455" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_49_)" d="M481,773.8L481,773.8c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C483.6,777.3,482.9,774.9,481,773.8z"/>
						
							<linearGradient id="SVGID_50_" gradientUnits="userSpaceOnUse" x1="372.2989" y1="873.9257" x2="372.2989" y2="1002.1439" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_50_)" d="M377,1008.2L377,1008.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C379.6,1011.7,378.9,1009.3,377,1008.2z"/>
						
							<linearGradient id="SVGID_51_" gradientUnits="userSpaceOnUse" x1="107.2512" y1="1540.9883" x2="107.2512" y2="1669.2064" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_51_)" d="M481,298L481,298c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C483.6,301.6,482.9,299.1,481,298z"/>
						
							<linearGradient id="SVGID_52_" gradientUnits="userSpaceOnUse" x1="180.5484" y1="732.0375" x2="180.5484" y2="860.2557" gradientTransform="matrix(0.866 0.5 0.5 -0.866 -446.4282 1689.9387)">
							<stop  offset="0" style="stop-color:#5C657B"/>
							<stop  offset="1" style="stop-color:#2D5793;stop-opacity:0"/>
						</linearGradient>
						<path display="inline" fill="url(#SVGID_52_)" d="M140,1035.2L140,1035.2c-1.9-1.1-4.4-0.4-5.5,1.5l-60,104.1
							c-1.1,1.9-0.4,4.4,1.5,5.5l0,0c1.9,1.1,4.4,0.4,5.5-1.5l60-104.1C142.6,1038.8,141.9,1036.3,140,1035.2z"/>
					</g>
					<g id="SnowMan" display="none">
						<ellipse display="inline" fill="#FFFFFF" cx="150.9" cy="1697.6" rx="37.7" ry="37.8"/>
						<ellipse display="inline" fill="#CACACA" cx="151" cy="1816.9" rx="60" ry="18.9"/>
						<ellipse display="inline" fill="#FFFFFF" cx="150.9" cy="1773.1" rx="54.6" ry="54.7"/>
						<path display="inline" fill="#FF4F4E" d="M118.1,1638.1c0.1-0.6,0.2-1.1,0.2-1.7c0-4.3-3.5-7.8-7.8-7.8s-7.8,3.5-7.8,7.8
							s3.5,7.8,7.8,7.8c0.7,0,1.4-0.1,2-0.3c7.3,16.2,1.9,43.3,1.9,43.3c23.4-24.8,53.3-22.1,70.2-7.8
							C176.2,1658.8,135.3,1639,118.1,1638.1z"/>
					</g>
					<g id="SnowParticles" display="none" opacity="0.8">
						<ellipse display="inline" fill="#FFFFFF" cx="145.2" cy="36.7" rx="22.4" ry="22.4"/>
						<ellipse display="inline" fill="#FFFFFF" cx="345.3" cy="70" rx="21.8" ry="21.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="665.5" cy="81.8" rx="14.2" ry="14.3"/>
						<ellipse display="inline" fill="#FFFFFF" cx="911.6" cy="63.2" rx="21.7" ry="21.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1150.6" cy="48.3" rx="6.1" ry="6.1"/>
						<ellipse display="inline" fill="#FFFFFF" cx="-42.4" cy="232.9" rx="13.9" ry="13.9"/>
						<ellipse display="inline" fill="#FFFFFF" cx="239.2" cy="219.9" rx="23.3" ry="23.4"/>
						<ellipse display="inline" fill="#FFFFFF" cx="529.5" cy="215.4" rx="18.2" ry="18.2"/>
						<ellipse display="inline" fill="#FFFFFF" cx="761.8" cy="204.9" rx="16.5" ry="16.6"/>
						<ellipse display="inline" fill="#FFFFFF" cx="997.5" cy="212.6" rx="23.4" ry="23.4"/>
						<ellipse display="inline" fill="#FFFFFF" cx="736" cy="379.2" rx="7.2" ry="7.2"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1024" cy="371" rx="20.7" ry="20.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1216.9" cy="383.4" rx="9.4" ry="9.5"/>
						<ellipse display="inline" fill="#FFFFFF" cx="-224" cy="556.9" rx="24" ry="24"/>
						<ellipse display="inline" fill="#FFFFFF" cx="38.3" cy="576.1" rx="10.8" ry="10.9"/>
						<ellipse display="inline" fill="#FFFFFF" cx="370" cy="546.8" rx="7" ry="7"/>
						<ellipse display="inline" fill="#FFFFFF" cx="628.8" cy="567.6" rx="19.8" ry="19.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="847.1" cy="555.1" rx="7.3" ry="7.3"/>
						<ellipse display="inline" fill="#FFFFFF" cx="162" cy="708.2" rx="7.8" ry="7.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="400.9" cy="669.8" rx="11.6" ry="11.6"/>
						<ellipse display="inline" fill="#FFFFFF" cx="720.2" cy="691.3" rx="8.2" ry="8.2"/>
						<ellipse display="inline" fill="#FFFFFF" cx="970.5" cy="718.9" rx="13.6" ry="13.6"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1179" cy="700.7" rx="7.9" ry="7.9"/>
						<ellipse display="inline" fill="#FFFFFF" cx="10.7" cy="862" rx="10.7" ry="10.7"/>
						<ellipse display="inline" fill="#FFFFFF" cx="290.9" cy="871.8" rx="12.2" ry="12.3"/>
						<ellipse display="inline" fill="#FFFFFF" cx="597.6" cy="852.3" rx="7.8" ry="7.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="836.3" cy="835.3" rx="6.7" ry="6.7"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1088.8" cy="869.5" rx="13.8" ry="13.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="156.2" cy="1008.7" rx="7.9" ry="7.9"/>
						<ellipse display="inline" fill="#FFFFFF" cx="442.6" cy="1016.3" rx="12" ry="12"/>
						<ellipse display="inline" fill="#FFFFFF" cx="721.3" cy="998" rx="10.5" ry="10.5"/>
						<ellipse display="inline" fill="#FFFFFF" cx="992.3" cy="1012.4" rx="19" ry="19.1"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1206.8" cy="1021.4" rx="4.9" ry="4.9"/>
						<ellipse display="inline" fill="#FFFFFF" cx="-88.9" cy="1154.4" rx="21.6" ry="21.6"/>
						<ellipse display="inline" fill="#FFFFFF" cx="138.4" cy="1185.5" rx="5.6" ry="5.6"/>
						<ellipse display="inline" fill="#FFFFFF" cx="458.4" cy="1198.2" rx="20.8" ry="20.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="739.2" cy="1195.3" rx="15.8" ry="15.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="927" cy="1197.3" rx="12.4" ry="12.4"/>
						
							<ellipse transform="matrix(9.802498e-03 -1 1 9.802498e-03 -1476.7578 1326.0945)" display="inline" fill="#FFFFFF" cx="-68.8" cy="1408.7" rx="22.7" ry="22.7"/>
						<ellipse display="inline" fill="#FFFFFF" cx="241" cy="1422.5" rx="16.5" ry="16.6"/>
						<ellipse display="inline" fill="#FFFFFF" cx="538.8" cy="1399.9" rx="5" ry="5"/>
						<ellipse display="inline" fill="#FFFFFF" cx="784.2" cy="1413" rx="5.3" ry="5.3"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1033.6" cy="1382.1" rx="10" ry="10"/>
						
							<ellipse transform="matrix(0.9993 -3.837649e-02 3.837649e-02 0.9993 -61.4232 -3.5046)" display="inline" fill="#FFFFFF" cx="-122" cy="1598.2" rx="14.1" ry="14.1"/>
						<ellipse display="inline" fill="#FFFFFF" cx="181.7" cy="1609.7" rx="11.8" ry="11.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="444.2" cy="1595.4" rx="16.1" ry="16.1"/>
						<ellipse display="inline" fill="#FFFFFF" cx="728.1" cy="1605.1" rx="13" ry="13"/>
						<ellipse display="inline" fill="#FFFFFF" cx="959.7" cy="1586.4" rx="19.7" ry="19.7"/>
						
							<ellipse transform="matrix(0.9999 -1.020250e-02 1.020250e-02 0.9999 -18.3426 0.7843)" display="inline" fill="#FFFFFF" cx="67.7" cy="1798.2" rx="22.8" ry="22.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="353.9" cy="1800.5" rx="4.9" ry="5"/>
						<ellipse display="inline" fill="#FFFFFF" cx="643.2" cy="1794.5" rx="9.2" ry="9.2"/>
						<ellipse display="inline" fill="#FFFFFF" cx="916.1" cy="1831.4" rx="6.8" ry="6.8"/>
						<ellipse display="inline" fill="#FFFFFF" cx="1153.4" cy="1812.2" rx="17.4" ry="17.4"/>
					</g>
					<g id="SleetRain" opacity="0.7" display="none">
						<path fill="#FFFFFF" d="M539.4,624.6l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C540.3,624,539.7,624,539.4,624.6z"/>
						<path fill="#FFFFFF" d="M722.2,696.6l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C723.2,696,722.5,696,722.2,696.6z"/>
						<path fill="#FFFFFF" d="M924,624.6l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C925,624,924.3,624,924,624.6z"/>
						<path fill="#FFFFFF" d="M651.5,1103.8l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C652.5,1103.2,651.8,1103.2,651.5,1103.8z"/>
						<path fill="#FFFFFF" d="M417.3,1094.5l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8s6.3-11.4,3.6-17.6l-7.9-18.1
							C418.2,1093.9,417.5,1093.9,417.3,1094.5z"/>
						<path fill="#FFFFFF" d="M802.6,1035.4l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C803.5,1034.8,802.9,1034.8,802.6,1035.4z"/>
						<path fill="#FFFFFF" d="M529.6,1254.3l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C530.6,1253.7,529.9,1253.7,529.6,1254.3z"/>
						<path fill="#FFFFFF" d="M741.8,1672l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							L743,1672C742.7,1671.4,742,1671.4,741.8,1672z"/>
						<path fill="#FFFFFF" d="M879.1,1348.3l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C880,1347.7,879.3,1347.7,879.1,1348.3z"/>
						<path fill="#FFFFFF" d="M469.1,883.6l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8s6.3-11.4,3.6-17.6l-7.9-18.1
							C470,883,469.3,883,469.1,883.6z"/>
						<path fill="#FFFFFF" d="M397.7,1450.2l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8s6.3-11.4,3.6-17.6l-7.9-18.1
							C398.7,1449.6,398,1449.6,397.7,1450.2z"/>
						<path fill="#FFFFFF" d="M182.9,1200.5l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8s6.3-11.4,3.6-17.6l-7.9-18.1
							C183.9,1199.9,183.2,1199.9,182.9,1200.5z"/>
						<path fill="#FFFFFF" d="M132.9,696.6l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8s6.3-11.4,3.6-17.6l-7.9-18.1
							C133.8,696,133.1,696,132.9,696.6z"/>
						<path fill="#FFFFFF" d="M992.2,864.7l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8c4.7-3.5,6.3-11.4,3.6-17.6
							l-7.9-18.1C993.1,864.1,992.5,864.1,992.2,864.7z"/>
						<path fill="#FFFFFF" d="M123.1,1653l-7.9,18.1c-1.7,3.8-1.8,8.7,0,12.8c2.7,6.2,8.7,8.3,13.3,4.8s6.3-11.4,3.6-17.6l-7.9-18.1
							C124,1652.5,123.4,1652.5,123.1,1653z"/>
					</g>
					<g id="SleetSnow" display="none">
						<path opacity="0.7" fill="#FFFFFF" d="M333.8,818.4l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7V798l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2V790c0-0.7-0.6-1.3-1.3-1.3s-1.3,0.6-1.3,1.3
							v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9c0.1-0.7-0.5-1.3-1.2-1.3h0
							c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6l-3.9,2.3
							c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C334.6,819.5,334.4,818.7,333.8,818.4z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M669.8,868.9l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C670.7,870,670.4,869.2,669.8,868.9z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M869.3,947.3l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3V953
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C870.1,948.4,869.9,947.6,869.3,947.3z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M970.4,1142.7l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C971.3,1143.8,971,1143,970.4,1142.7z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M740.5,1321.4l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C741.4,1322.5,741.1,1321.7,740.5,1321.4z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M608.3,1541.9l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C609.1,1543,608.9,1542.2,608.3,1541.9z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M352.1,1321.4l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C352.9,1322.5,352.7,1321.7,352.1,1321.4z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M229.3,1496.3l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C230.2,1497.4,229.9,1496.6,229.3,1496.3z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M65.9,1356.6l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6L60,1335c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							L31,1344c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C66.7,1357.7,66.4,1356.9,65.9,1356.6z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M406.3,1699.2l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C407.1,1700.3,406.8,1699.5,406.3,1699.2z"/>
						<path opacity="0.7" fill="#FFFFFF" d="M297.1,1041.7l-4.5-2.6l3.8-2.3c0.6-0.3,0.8-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.4l-5.1,3
							l-8.1-4.7l8.1-4.7l5.1,3c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,0.8-0.2,1.1-0.6c0.3-0.6,0.2-1.4-0.5-1.7l-3.8-2.3l4.5-2.6
							c0.6-0.3,0.8-1.1,0.5-1.7c-0.3-0.6-1.1-0.8-1.7-0.5l-4.6,2.6l-0.1-4.6c0-0.7-0.5-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3l0,6
							l-8.1,4.7v-9.5l5.1-2.9c0.6-0.3,0.9-1.1,0.5-1.7c-0.4-0.6-1.1-0.8-1.7-0.5l-3.9,2.2v-5.2c0-0.7-0.6-1.3-1.3-1.3
							s-1.3,0.6-1.3,1.3v5.2l-4-2.2c-0.6-0.3-1.3-0.2-1.7,0.5c-0.4,0.6-0.1,1.4,0.5,1.7l5.2,2.9v9.4l-8.2-4.8l0-5.9
							c0.1-0.7-0.5-1.3-1.2-1.3h0c-0.7,0-1.2,0.6-1.3,1.3l0,4.4l-4.4-2.5c-0.6-0.4-1.4-0.1-1.7,0.5c-0.3,0.6-0.2,1.4,0.5,1.7l4.5,2.6
							l-3.9,2.3c-0.6,0.3-0.8,1.1-0.4,1.7c0.2,0.4,0.6,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2l5.1-3l8.2,4.7l-8.2,4.8l-5.1-3
							c-0.6-0.4-1.4-0.2-1.7,0.4c-0.3,0.6-0.2,1.4,0.4,1.7l3.9,2.3l-4.5,2.6c-0.6,0.4-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6
							c0.1,0,0.3-0.1,0.6-0.2l4.4-2.5l0,4.4c0,0.7,0.6,1.2,1.3,1.2h0c0.7,0,1.2-0.6,1.2-1.3l0-5.9l8.2-4.7v9.3l-5.2,2.9
							c-0.6,0.3-0.8,1.1-0.5,1.7c0.3,0.4,0.6,0.6,1.1,0.6c0.2,0,0.4,0,0.6-0.1l4-2.3v5.3c0,0.7,0.5,1.3,1.3,1.3s1.3-0.5,1.3-1.3v-5.2
							l3.9,2.2c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,0.9-0.2,1.1-0.6c0.3-0.6,0.1-1.4-0.5-1.7l-5.1-2.8v-9.5l8.1,4.7l0,6
							c0,0.7,0.5,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0.1-4.6l4.6,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.8-0.2,1.1-0.6
							C298,1042.8,297.7,1042,297.1,1041.7z"/>
					</g>
					<g id="Sun" display="none">
							<circle fill="#FECD40" cx="954" cy="149" r="300"/>
							<circle fill="#FEE348" cx="954" cy="149" r="223"/>
							<circle fill="#FEFEE0" cx="954" cy="149" r="147"/>
							<circle fill="#FFEF30" cx="954" cy="149" r="94"/>
					</g>
					<g id="app-text">
					<path fill="#FFFFFF" d="M241.7,639H256l11.1,41.8l1.6,7.7h0.8l2.1-7.7l10.3-32.2h12.6l10.4,32.2l2,7.6h0.8l1.5-7.6l10.4-41.8
						h14.3l-19,71.6h-13l-11.2-34.5l-2.1-7.9h-0.8l-2.1,7.9l-11.2,34.5h-13L241.7,639z"/>
					<path fill="#FFFFFF" d="M382,698.8c-2.3,4-5.3,7.2-9.1,9.7c-3.8,2.5-8.5,3.7-14.1,3.7c-3.7,0-7.2-0.6-10.3-2
						c-3.2-1.3-5.9-3.1-8.2-5.4c-2.3-2.3-4.2-5.1-5.5-8.2c-1.3-3.2-2-6.7-2-10.5c0-3.5,0.6-6.9,1.9-10c1.3-3.2,3-5.9,5.3-8.3
						c2.3-2.4,5-4.2,8-5.6c3.1-1.4,6.5-2.1,10.2-2.1c3.9,0,7.4,0.6,10.5,2c3.1,1.3,5.6,3.1,7.7,5.4c2.1,2.3,3.6,5,4.7,8.1
						s1.6,6.5,1.6,10.2c0,0.5,0,0.9,0,1.2c-0.1,0.4-0.1,0.8-0.1,1.1c-0.1,0.3-0.1,0.7-0.1,1.1h-36.9c0.3,2,0.8,3.7,1.6,5.1
						c0.8,1.4,1.9,2.6,3.1,3.6s2.6,1.7,4,2.1c1.5,0.4,3,0.6,4.5,0.6c3,0,5.5-0.7,7.5-2c2-1.4,3.5-3.1,4.6-5.2L382,698.8z
						 M370.1,679.8c-0.1-0.9-0.4-1.8-0.9-2.9c-0.5-1.1-1.2-2.1-2.2-3s-2.2-1.7-3.6-2.3s-3.2-0.9-5.2-0.9c-2.8,0-5.3,0.8-7.4,2.4
						c-2.1,1.6-3.6,3.8-4.5,6.7H370.1z"/>
					<path fill="#FFFFFF" d="M421.9,705.4h-0.8c-1.5,1.9-3.4,3.5-5.5,4.8c-2.2,1.3-5,2-8.4,2c-2.5,0-4.9-0.4-7.1-1.2s-4.2-2-5.9-3.5
						c-1.7-1.5-3-3.2-3.9-5.3s-1.4-4.3-1.4-6.8s0.5-4.8,1.5-6.8s2.4-3.8,4.2-5.2c1.8-1.5,3.9-2.6,6.4-3.4c2.4-0.8,5.1-1.1,7.9-1.1
						c3.2,0,5.8,0.2,7.9,0.8c2.1,0.5,3.8,1,5.1,1.5v-1.5c0-2.6-1-4.8-3.1-6.5s-4.6-2.5-7.7-2.5c-4.5,0-8.4,1.9-11.5,5.7l-9.5-6.5
						c5.2-6.5,12.3-9.8,21.3-9.8c7.6,0,13.4,1.8,17.4,5.4c4,3.6,6,8.9,6,15.9v29.4h-12.9V705.4z M421.9,690.7
						c-1.5-0.7-3.1-1.3-4.8-1.8c-1.6-0.4-3.4-0.6-5.3-0.6c-3.1,0-5.6,0.7-7.2,2c-1.7,1.4-2.6,3-2.6,5s0.8,3.6,2.5,4.8
						c1.6,1.2,3.5,1.8,5.6,1.8c1.7,0,3.3-0.3,4.8-0.9c1.5-0.6,2.7-1.5,3.8-2.5c1-1,1.8-2.2,2.4-3.6
						C421.6,693.6,421.9,692.1,421.9,690.7z"/>
					<path fill="#FFFFFF" d="M449.6,672.8H441v-11.2h8.6v-15h13.1v15h12v11.2h-12v19.6c0,1.2,0.1,2.3,0.4,3.2c0.2,1,0.7,1.8,1.3,2.5
						c0.9,1.1,2.3,1.6,4,1.6c1.1,0,2-0.1,2.7-0.4c0.7-0.2,1.3-0.6,1.9-1l3.7,11.5c-1.5,0.7-3.2,1.3-5,1.6c-1.8,0.4-3.7,0.6-5.9,0.6
						c-2.5,0-4.7-0.4-6.6-1.2c-2-0.8-3.6-1.9-4.9-3.2c-3.1-3.1-4.7-7.4-4.7-13.1V672.8z"/>
					<path fill="#FFFFFF" d="M484.8,639h13.1v20.1l-0.8,8.9h0.8c1.4-2.3,3.4-4.2,6-5.8c2.6-1.5,5.6-2.2,8.8-2.2c6.3,0,11,1.9,14.1,5.6
						c3,3.7,4.6,8.8,4.6,15.3v29.7h-13.1v-28.1c0-3.4-0.8-6-2.4-7.8c-1.6-1.8-3.8-2.6-6.7-2.6c-1.8,0-3.4,0.4-4.8,1.1
						c-1.4,0.8-2.6,1.8-3.6,3.1s-1.7,2.9-2.2,4.7s-0.8,3.6-0.8,5.6v23.9h-13.1V639H484.8z"/>
					<path fill="#FFFFFF" d="M588.6,698.8c-2.3,4-5.3,7.2-9.2,9.7c-3.8,2.5-8.5,3.7-14,3.7c-3.7,0-7.2-0.6-10.3-2
						c-3.2-1.3-5.9-3.1-8.2-5.4c-2.3-2.3-4.2-5.1-5.5-8.2c-1.3-3.2-2-6.7-2-10.5c0-3.5,0.6-6.9,1.9-10c1.3-3.2,3-5.9,5.3-8.3
						c2.3-2.4,5-4.2,8-5.6c3.1-1.4,6.5-2.1,10.2-2.1c3.9,0,7.4,0.6,10.5,2c3.1,1.3,5.6,3.1,7.7,5.4c2.1,2.3,3.6,5,4.7,8.1
						c1.1,3.1,1.6,6.5,1.6,10.2c0,0.5,0,0.9,0,1.2c-0.1,0.4-0.1,0.8-0.1,1.1c-0.1,0.3-0.1,0.7-0.1,1.1h-36.9c0.3,2,0.8,3.7,1.6,5.1
						c0.8,1.4,1.9,2.6,3.1,3.6c1.2,1,2.6,1.7,4,2.1c1.5,0.4,3,0.6,4.5,0.6c3,0,5.5-0.7,7.5-2c2-1.4,3.5-3.1,4.6-5.2L588.6,698.8z
						 M576.7,679.8c-0.1-0.9-0.3-1.8-0.8-2.9c-0.5-1.1-1.2-2.1-2.2-3s-2.2-1.7-3.6-2.3c-1.4-0.6-3.2-0.9-5.2-0.9
						c-2.8,0-5.3,0.8-7.4,2.4c-2.1,1.6-3.6,3.8-4.5,6.7H576.7z"/>
					<path fill="#FFFFFF" d="M597.8,661.6h12.3v6.8h0.8c0.6-1.2,1.4-2.3,2.4-3.3s2.1-1.9,3.4-2.6c1.2-0.7,2.6-1.3,4-1.8
						s2.8-0.7,4.2-0.7c1.7,0,3.2,0.2,4.5,0.6c1.2,0.4,2.3,0.9,3.1,1.4l-3.5,11.7c-0.8-0.4-1.7-0.7-2.6-1c-1-0.2-2.2-0.4-3.6-0.4
						c-1.8,0-3.4,0.4-4.9,1.1c-1.5,0.7-2.7,1.7-3.8,3c-1,1.3-1.8,2.8-2.4,4.5c-0.6,1.7-0.8,3.6-0.8,5.6v24.1h-13.1L597.8,661.6
						L597.8,661.6z"/>
					<path fill="#FFFFFF" d="M680,639h15.4l26.9,71.6h-14.9l-5.9-17.1h-27.6l-5.9,17.1h-14.9L680,639z M697.1,681.1l-6.4-17.9
						l-2.6-8.7h-0.8l-2.6,8.7l-6.4,17.9H697.1z"/>
					<path fill="#FFFFFF" d="M729.2,661.6h12.3v5.9h0.8c1.2-2.1,3.1-3.8,5.6-5.3s5.7-2.2,9.4-2.2c3.1,0,6.1,0.6,9,2
						c2.8,1.3,5.3,3.1,7.5,5.4c2.2,2.3,3.9,5,5.2,8.2s1.9,6.7,1.9,10.5s-0.6,7.3-1.9,10.5c-1.3,3.2-3,6-5.2,8.2
						c-2.2,2.3-4.7,4.1-7.5,5.4c-2.8,1.3-5.8,2-9,2c-3.7,0-6.9-0.7-9.4-2.2s-4.4-3.2-5.6-5.3h-0.8l0.8,7v20.5h-13.1V661.6z
						 M754.6,700.1c1.7,0,3.4-0.3,5-1s3-1.6,4.2-2.8s2.2-2.7,2.9-4.4s1.1-3.7,1.1-5.8s-0.4-4.1-1.1-5.8c-0.7-1.7-1.7-3.2-2.9-4.4
						s-2.6-2.1-4.2-2.8c-1.6-0.7-3.2-1-5-1c-1.7,0-3.4,0.3-4.9,1c-1.6,0.6-3,1.5-4.2,2.8c-1.2,1.2-2.2,2.7-2.9,4.4s-1.1,3.7-1.1,5.9
						s0.4,4.2,1.1,5.9c0.7,1.7,1.7,3.2,2.9,4.4s2.6,2.1,4.2,2.8C751.2,699.8,752.9,700.1,754.6,700.1z"/>
					<path fill="#FFFFFF" d="M787.8,661.6h12.3v5.9h0.8c1.2-2.1,3.1-3.8,5.6-5.3s5.7-2.2,9.4-2.2c3.1,0,6.1,0.6,9,2
						c2.8,1.3,5.3,3.1,7.5,5.4c2.2,2.3,3.9,5,5.2,8.2s1.9,6.7,1.9,10.5s-0.6,7.3-1.9,10.5c-1.3,3.2-3,6-5.2,8.2
						c-2.2,2.3-4.7,4.1-7.5,5.4c-2.8,1.3-5.8,2-9,2c-3.7,0-6.9-0.7-9.4-2.2s-4.4-3.2-5.6-5.3h-0.8l0.8,7v20.5h-13.1V661.6z
						 M813.2,700.1c1.7,0,3.4-0.3,5-1s3-1.6,4.2-2.8s2.2-2.7,2.9-4.4s1.1-3.7,1.1-5.8s-0.4-4.1-1.1-5.8c-0.7-1.7-1.7-3.2-2.9-4.4
						s-2.6-2.1-4.2-2.8c-1.6-0.7-3.2-1-5-1c-1.7,0-3.4,0.3-4.9,1c-1.6,0.6-3,1.5-4.2,2.8c-1.2,1.2-2.2,2.7-2.9,4.4s-1.1,3.7-1.1,5.9
						s0.4,4.2,1.1,5.9c0.7,1.7,1.7,3.2,2.9,4.4s2.6,2.1,4.2,2.8C809.8,699.8,811.5,700.1,813.2,700.1z"/>
					</g>
					<g id="app-logo">
						<g>
							<path class="st79" d="M636.3,543.3c2.9-6.1,4.5-12.9,4.5-20.2c0-26-21.1-47-47-47c-2.3,0-4.5,0.2-6.7,0.5c0-0.2,0-0.4,0-0.5
								c0-26-21.1-47-47-47c-26,0-47,21.1-47,47c0,0.2,0,0.4,0,0.5c-2.2-0.3-4.4-0.5-6.7-0.5c-26,0-47,21.1-47,47
								c0,7.2,1.6,13.4,4.5,20.2H587"/>
						</g>
						<line class="st79" x1="445.9" y1="597" x2="634.1" y2="597"/>
						<line class="st79" x1="445.9" y1="570.2" x2="634.1" y2="570.2"/>
						<path class="st79" d="M566.9,523.1c0-11.1,9-20.2,20.2-20.2c11.1,0,20.2,9,20.2,20.2c0,11.1-9,20.2-20.2,20.2"/>
					</g>
					<circle id="search-highlight" fill="#19E8A6" cx="0" cy="0" r="233.6"/>
				</g>
			</g>
		</g>
	</svg>
	<div id="ui">
		<div id="search-bar">
			<button id="search-btn"></button>
		</div>
		<div id="loc-det">
			<p id="location">Bloomington</p>
			<p id="date">Monday, 24 Dec 18</p>
		</div>
		<div id="temp-det">
			<p id="temperature"><span id="temp">24</span>&#176; C</p>
			<p id="summary"> 
				<svg version="1.1" id="weather-icons" class='icon' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 50 50" enable-background="new 0 0 402 50" xml:space="preserve">
				<g>
					<path fill="#FFFFFF" d="M27,10C17.1,8.8,8.8,17.1,10,27c0.9,6.7,6.3,12.1,13,13C32.9,41.2,41.2,32.9,40,23
						C39.1,16.3,33.7,10.9,27,10z M26.9,36c-7.6,1.3-14.2-5.3-12.9-12.9c0.8-4.6,4.5-8.4,9.1-9.1c7.6-1.3,14.2,5.3,12.9,12.9
						C35.3,31.5,31.5,35.3,26.9,36z"/>
					<path fill="#FFFFFF" d="M24.5,0L24.5,0c-1.1,0-2,0.9-2,2v2.7c0,1.1,0.9,2,2,2h0c1.1,0,2-0.9,2-2V2C26.4,0.9,25.5,0,24.5,0z"/>
					<path fill="#FFFFFF" d="M22.5,45.3V48c0,1.1,0.9,2,2,2h0c1.1,0,2-0.9,2-2v-2.7c0-1.1-0.9-2-2-2h0C23.4,43.4,22.5,44.3,22.5,45.3z"
						/>
					<path fill="#FFFFFF" d="M4.7,23H2c-1.1,0-2,0.9-2,2v0c0,1.1,0.9,2,2,2h2.7c1.1,0,2-0.9,2-2v0C6.6,23.9,5.7,23,4.7,23z"/>
					<path fill="#FFFFFF" d="M48,23h-2.7c-1.1,0-2,0.9-2,2v0c0,1.1,0.9,2,2,2H48c1.1,0,2-0.9,2-2v0C50,23.9,49.1,23,48,23z"/>
					<path fill="#FFFFFF" d="M11.5,9.7L9.6,7.8c-0.8-0.8-2-0.7-2.8,0l0,0c-0.8,0.8-0.7,2,0,2.8l1.9,1.9c0.8,0.8,2,0.7,2.8,0l0,0
						C12.3,11.7,12.3,10.5,11.5,9.7z"/>
					<path fill="#FFFFFF" d="M37.8,41.1l1.9,1.9c0.8,0.8,2,0.7,2.8,0l0,0c0.8-0.8,0.7-2,0-2.8l-1.9-1.9c-0.8-0.8-2-0.7-2.8,0l0,0
						C37,39.1,37,40.3,37.8,41.1z"/>
					<path fill="#FFFFFF" d="M7.5,42.8L7.5,42.8c0.8,0.8,2,0.7,2.8,0l1.9-1.9c0.8-0.8,0.7-2,0-2.8l0,0c-0.8-0.8-2-0.7-2.8,0l-1.9,1.9
						C6.7,40.8,6.7,42.1,7.5,42.8z"/>
					<path fill="#FFFFFF" d="M40.7,11.9l1.9-1.9c0.8-0.8,0.7-2,0-2.8l0,0c-0.8-0.8-2-0.7-2.8,0l-1.9,1.9c-0.8,0.8-0.7,2,0,2.8l0,0
						C38.7,12.6,39.9,12.6,40.7,11.9z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M99,26.2c-0.8-0.5-1.8-0.5-2.5-0.1c-2.7,1.6-5.8,2.4-8.9,2.4c-9.8,0-17.8-8-17.8-17.8
						c0-2.4,0.5-4.7,1.4-6.8C71.5,3,71.3,2,70.7,1.3c-0.6-0.7-1.6-1-2.4-0.7C57.5,3.7,50,13.6,50,24.8C50,38.7,61.3,50,75.1,50
						c12.3,0,23-9.2,24.9-21.4C100.2,27.7,99.8,26.8,99,26.2z M75.1,45.5c-11.4,0-20.7-9.3-20.7-20.7c0-7.8,4.4-14.8,11.2-18.3
						c-0.3,1.4-0.4,2.8-0.4,4.2C65.2,23,75.3,33,87.6,33c2.4,0,4.7-0.4,6.9-1.1C91.6,39.9,83.9,45.5,75.1,45.5z"/>
					<path fill="#FFFFFF" d="M84.5,9.6l2.9,1.5c0,0,0.1,0.1,0.1,0.1l1.5,2.9c0.1,0.2,0.4,0.2,0.4,0l1.5-2.9c0,0,0.1-0.1,0.1-0.1l2.9-1.5
						c0.2-0.1,0.2-0.4,0-0.4L91,7.6c0,0-0.1-0.1-0.1-0.1l-1.5-2.9c-0.1-0.2-0.4-0.2-0.4,0l-1.5,2.9c0,0-0.1,0.1-0.1,0.1l-2.9,1.5
						C84.3,9.2,84.3,9.5,84.5,9.6z"/>
					<path fill="#FFFFFF" d="M79.5,3.8C79.5,3.8,79.6,3.8,79.5,3.8l0.9,1.7c0.1,0.1,0.2,0.1,0.3,0l0.9-1.6c0,0,0,0,0.1-0.1l1.6-0.9
						c0.1-0.1,0.1-0.2,0-0.3l-1.6-0.9c0,0,0,0-0.1-0.1l-0.9-1.6c-0.1-0.1-0.2-0.1-0.3,0l-0.9,1.6c0,0,0,0-0.1,0.1l-1.6,0.9
						c-0.1,0.1-0.1,0.2,0,0.3L79.5,3.8z"/>
				</g>
				<g>
					<rect x="101" fill="none" width="50" height="50"/>
					<g>
						<path fill="#FFFFFF" d="M136.5,42.5h-18c-4.8,0-9.3-1.9-12.7-5.4c-3.3-3.5-5-8.1-4.8-12.9c0.4-8.7,7.5-15.9,16.2-16.6
							c5.8-0.4,11.5,2.1,15,6.6c1.7-0.5,3.5-0.7,5.3-0.6h0c7.3,0.5,13.2,6.6,13.5,14c0.1,4-1.3,7.7-4.1,10.6
							C144.2,40.9,140.5,42.5,136.5,42.5z M118.5,11.4c-0.3,0-0.7,0-1,0c-6.7,0.5-12.2,6.1-12.5,12.9c-0.2,3.8,1.1,7.3,3.7,10
							c2.6,2.7,6.1,4.2,9.8,4.2h18c2.9,0,5.6-1.1,7.6-3.2c2-2.1,3.1-4.8,3-7.7c-0.2-5.3-4.5-9.8-9.8-10.2c-1.7-0.1-3.3,0.2-4.8,0.8
							c-1,0.4-2.1,0.1-2.7-0.8C127.2,13.6,123.1,11.4,118.5,11.4z"/>
					</g>
				</g>
				<g>
					<path fill="#FFFFFF" d="M188.5,8.3c-1.5-0.1-3,0-4.4,0.4c-0.6,0.1-1.1-0.1-1.5-0.5c-3.6-4.1-8.9-6.3-14.4-5.9
						c-8.6,0.6-15.7,7.9-16.2,16.6c-0.4,7.9,4.6,15.1,12,17.5c0.8,0.3,1.7-0.2,1.9-1.1l0.2-1c0.2-0.7-0.2-1.5-1-1.7
						c-5.7-1.9-9.5-7.4-9.2-13.5c0.3-6.7,5.8-12.4,12.5-12.9c4.9-0.4,9.6,2,12.4,6.1c0.6,0.8,1.6,1.2,2.5,0.8c1.5-0.7,3.2-0.9,4.9-0.8
						c5.3,0.4,9.6,4.8,9.8,10.2c0.2,5.1-3.4,9.6-8.2,10.7c-0.7,0.2-1.2,0.8-1.2,1.6l0.1,1c0.1,0.9,0.9,1.5,1.8,1.3
						c6.8-1.4,11.7-7.6,11.4-14.7C201.8,15,195.8,8.8,188.5,8.3z"/>
					<g>
						<path fill="#FFFFFF" d="M183.4,39c-0.8,0-1.5,0.7-1.5,1.5v1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-1.5
							C184.9,39.6,184.2,39,183.4,39z"/>
						<path fill="#FFFFFF" d="M183.4,25.8c-0.8,0-1.5,0.7-1.5,1.5v9.1c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-9.1
							C184.9,26.5,184.2,25.8,183.4,25.8z"/>
						<path fill="#FFFFFF" d="M170.6,39.3c-0.8,0-1.5,0.7-1.5,1.5v1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-1.5
							C172.1,40,171.4,39.3,170.6,39.3z"/>
						<path fill="#FFFFFF" d="M170.6,26.2c-0.8,0-1.5,0.7-1.5,1.5v9.1c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-9.1
							C172.1,26.9,171.4,26.2,170.6,26.2z"/>
						<path fill="#FFFFFF" d="M177,43.3c-0.8,0-1.5,0.7-1.5,1.5v1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-1.5
							C178.5,44,177.8,43.3,177,43.3z"/>
						<path fill="#FFFFFF" d="M177,30.2c-0.8,0-1.5,0.7-1.5,1.5v9.1c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-9.1
							C178.5,30.9,177.8,30.2,177,30.2z"/>
					</g>
					<rect x="152" fill="none" width="50" height="50"/>
				</g>
				<g>
					<rect x="202" fill="none" width="50" height="50"/>
					<g>
						<path fill="#FFFFFF" d="M227.1,50L227.1,50c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2l0,0c1.1,0,2,0.9,2,2V48
							C229,49.1,228.2,50,227.1,50z"/>
						<g>
							<path fill="#FFFFFF" d="M221.1,47.7L221.1,47.7c-0.6-0.6-0.6-1.5,0-2.1l4.9-5c0.6-0.6,1.5-0.6,2.1,0l4.8,5c0.6,0.6,0.6,1.5,0,2.1
								l0,0c-0.6,0.6-1.5,0.6-2.1,0l-2.8-2.8c-0.6-0.6-1.5-0.6-2.1,0l-2.8,2.9C222.6,48.2,221.7,48.3,221.1,47.7z"/>
						</g>
						<g>
							<path fill="#FFFFFF" d="M226,9.3l-4.9-5c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l2.8,2.9c0.6,0.6,1.5,0.6,2.1,0
								l2.8-2.8c0.6-0.6,1.5-0.6,2.1,0l0,0c0.6,0.6,0.6,1.5,0,2.1l-4.8,5C227.6,9.9,226.6,9.9,226,9.3z"/>
						</g>
						<path fill="#FFFFFF" d="M245.4,39.7l-38.8-24.9c-0.9-0.6-1.2-1.8-0.6-2.7l0,0c0.6-0.9,1.8-1.2,2.7-0.6l38.8,24.9
							c0.9,0.6,1.2,1.8,0.6,2.7l0,0C247.5,40,246.3,40.3,245.4,39.7z"/>
						<g>
							<path fill="#FFFFFF" d="M241.2,41.8l-1.5-6.8c-0.2-0.8,0.3-1.6,1.1-1.8l6.8-1.4c0.8-0.2,1.6,0.3,1.7,1.1l0,0
								c0.2,0.8-0.3,1.6-1.1,1.7l-3.9,0.8c-0.8,0.2-1.3,1-1.1,1.8l0.9,3.9c0.2,0.8-0.3,1.6-1.1,1.7l0,0C242.1,43,241.4,42.5,241.2,41.8z
								"/>
						</g>
						<g>
							<path fill="#FFFFFF" d="M204.7,18.4L204.7,18.4c-0.2-0.8,0.3-1.6,1.1-1.7l3.9-0.9c0.8-0.2,1.3-1,1.1-1.8l-0.9-3.9
								c-0.2-0.8,0.3-1.6,1.1-1.8l0,0c0.8-0.2,1.6,0.3,1.8,1.1l1.6,6.8c0.2,0.8-0.3,1.6-1.1,1.8l-6.9,1.5
								C205.6,19.7,204.9,19.2,204.7,18.4z"/>
						</g>
						<path fill="#FFFFFF" d="M205.9,39.1L205.9,39.1c-0.6-0.9-0.3-2.1,0.6-2.7l38.8-24.9c0.9-0.6,2.1-0.3,2.7,0.6l0,0
							c0.6,0.9,0.3,2.1-0.6,2.7l-38.8,24.9C207.7,40.3,206.5,40,205.9,39.1z"/>
						<g>
							<path fill="#FFFFFF" d="M211.1,42.9L211.1,42.9c-0.8-0.2-1.3-1-1.1-1.7l0.9-3.9c0.2-0.8-0.3-1.6-1.1-1.8l-3.9-0.8
								c-0.8-0.2-1.3-0.9-1.1-1.7l0,0c0.2-0.8,0.9-1.3,1.7-1.1l6.8,1.4c0.8,0.2,1.3,1,1.1,1.8l-1.5,6.8C212.6,42.5,211.9,43,211.1,42.9z
								"/>
						</g>
						<g>
							<path fill="#FFFFFF" d="M247.6,19.5l-6.9-1.5c-0.8-0.2-1.3-1-1.1-1.8l1.6-6.8c0.2-0.8,1-1.3,1.8-1.1l0,0c0.8,0.2,1.3,1,1.1,1.8
								l-0.9,3.9c-0.2,0.8,0.3,1.6,1.1,1.8l3.9,0.9c0.8,0.2,1.3,0.9,1.1,1.7l0,0C249.1,19.2,248.4,19.7,247.6,19.5z"/>
						</g>
					</g>
				</g>
				<g>
					<path fill="#FFFFFF" d="M288.5,10.9c-1.8-0.1-3.6,0.1-5.3,0.6c-3.6-4.5-9.2-7-15-6.6c-8.6,0.6-15.7,7.9-16.2,16.6
						c-0.2,4.8,1.5,9.4,4.8,12.9c2.8,3,6.5,4.8,10.5,5.3c1.2,0.1,2.2-0.7,2.2-1.9v-0.1c0-1-0.8-1.8-1.7-1.9c-3.1-0.4-5.9-1.8-8.1-4.1
						c-2.6-2.7-3.9-6.3-3.7-10c0.3-6.7,5.8-12.4,12.5-12.9c4.9-0.4,9.6,2,12.4,6.1c0.6,0.8,1.6,1.2,2.5,0.8c1.5-0.7,3.2-0.9,4.9-0.8
						c5.3,0.4,9.6,4.8,9.8,10.2c0.1,2.9-1,5.6-3,7.7c-1.6,1.7-3.7,2.7-5.9,3.1c-1,0.2-1.7,0.9-1.7,1.9v0c0,1.2,1.1,2.1,2.3,1.9
						c3.1-0.5,5.9-1.9,8.2-4.2c3.2-3.3,4.7-7.9,3.9-12.6C300.7,16.4,295.1,11.4,288.5,10.9z"/>
					<g>
						<path fill="#FFFFFF" d="M274.2,44.9L274.2,44.9c-1-0.5-1.4-1.7-0.9-2.6l5.5-11h-8.3c-1.2,0-1.9-1.3-1.3-2.3l5.9-9.6
							c0.6-0.9,1.8-1.2,2.7-0.6l0,0c0.9,0.6,1.2,1.8,0.6,2.7l-3.7,5.9h7.9c1.1,0,1.9,1.2,1.4,2.2L276.8,44
							C276.3,45,275.1,45.4,274.2,44.9z"/>
					</g>
					<rect x="252" fill="none" width="50" height="50"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M342.8,16.4h-0.1c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h0.2c2.6,0,4.8,1.9,5.1,4.4c0.3,2.9-2,5.4-4.9,5.4
						h-31.8c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h31.8c5.1,0,9.2-4.3,8.9-9.5C351.7,20,347.5,16.4,342.8,16.4z"/>
					<path fill="#FFFFFF" d="M336.7,16.9c-0.3-4.7-4.5-8.3-9.2-8.3h-0.1c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h0.2
						c2.6,0,4.8,1.9,5.1,4.4c0.3,2.9-2,5.4-4.9,5.4H304c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h23.8C332.9,26.4,337,22.1,336.7,16.9z"/>
					<path fill="#FFFFFF" d="M304.3,41.4H330c1.1,0,2-0.9,2-2l0,0c0-1.1-0.9-2-2-2h-25.6c-1.1,0-2,0.9-2,2l0,0
						C302.3,40.5,303.2,41.4,304.3,41.4z"/>
					<rect x="302" fill="none" width="50" height="50"/>
				</g>
				<g>
					<g>
						<g>
							<path fill="#FFFFFF" d="M388.5,7.9c-1.5-0.1-3,0-4.4,0.4c-0.6,0.1-1.1-0.1-1.5-0.5c-3.6-4.1-8.9-6.3-14.4-5.9
								c-8.6,0.6-15.7,7.9-16.2,16.6c-0.4,7.9,4.6,15.1,12,17.5c0.8,0.3,1.7-0.2,1.9-1.1l0.2-1c0.2-0.7-0.2-1.5-1-1.7
								c-5.7-1.9-9.5-7.4-9.2-13.5c0.3-6.7,5.8-12.4,12.5-12.9c4.9-0.4,9.6,2,12.4,6.1c0.6,0.8,1.6,1.2,2.5,0.8c1.5-0.7,3.2-0.9,4.9-0.8
								c5.3,0.4,9.6,4.8,9.8,10.2c0.2,5.1-3.4,9.6-8.2,10.7c-0.7,0.2-1.2,0.8-1.2,1.6l0.1,1c0.1,0.9,0.9,1.5,1.8,1.3
								c6.8-1.4,11.7-7.6,11.4-14.7C401.8,14.5,395.8,8.4,388.5,7.9z"/>
							<g>
								<path fill="#FFFFFF" d="M370.6,38.9c-0.8,0-1.5,0.7-1.5,1.5v1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-1.5
									C372.1,39.5,371.4,38.9,370.6,38.9z"/>
								<path fill="#FFFFFF" d="M370.6,25.8c-0.8,0-1.5,0.7-1.5,1.5v9.1c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-9.1
									C372.1,26.4,371.4,25.8,370.6,25.8z"/>
							</g>
							<g>
								<path fill="#FFFFFF" d="M378,43.8c-0.8,0-1.5,0.7-1.5,1.5v1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-1.5
									C379.5,44.4,378.8,43.8,378,43.8z"/>
								<path fill="#FFFFFF" d="M378,30.7c-0.8,0-1.5,0.7-1.5,1.5v9.1c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-9.1
									C379.5,31.3,378.8,30.7,378,30.7z"/>
							</g>
							<g>
								<path fill="#FFFFFF" d="M385.7,42.7c-0.8,0-1.5,0.7-1.5,1.5v1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-1.5
									C387.2,43.4,386.5,42.7,385.7,42.7z"/>
								<path fill="#FFFFFF" d="M385.7,32.3c-0.8,0-1.5,0.5-1.5,1.1V40c0,0.6,0.7,1.1,1.5,1.1c0.8,0,1.5-0.5,1.5-1.1v-6.6
									C387.2,32.8,386.5,32.3,385.7,32.3z"/>
							</g>
						</g>
						<g>
							<path fill="#FFFFFF" d="M386.8,30.7L386.8,30.7c-0.3,0-0.6-0.3-0.6-0.6V15.2c0-0.3,0.3-0.6,0.6-0.6l0,0c0.3,0,0.6,0.3,0.6,0.6V30
								C387.4,30.4,387.1,30.7,386.8,30.7z"/>
							<g>
								<path fill="#FFFFFF" d="M384.8,29.9L384.8,29.9c-0.2-0.2-0.2-0.5,0-0.7l1.6-1.6c0.2-0.2,0.5-0.2,0.7,0l1.6,1.6
									c0.2,0.2,0.2,0.5,0,0.7l0,0c-0.2,0.2-0.5,0.2-0.7,0l-0.9-0.9c-0.2-0.2-0.5-0.2-0.7,0l-0.9,0.9C385.3,30.1,385,30.1,384.8,29.9z"
									/>
							</g>
							<g>
								<path fill="#FFFFFF" d="M386.4,17.6l-1.6-1.6c-0.2-0.2-0.2-0.5,0-0.7l0,0c0.2-0.2,0.5-0.2,0.7,0l0.9,0.9c0.2,0.2,0.5,0.2,0.7,0
									l0.9-0.9c0.2-0.2,0.5-0.2,0.7,0l0,0c0.2,0.2,0.2,0.5,0,0.7l-1.6,1.6C386.9,17.8,386.6,17.8,386.4,17.6z"/>
							</g>
							<path fill="#FFFFFF" d="M392.6,27.3l-12.5-8c-0.3-0.2-0.4-0.6-0.2-0.9l0,0c0.2-0.3,0.6-0.4,0.9-0.2l12.5,8
								c0.3,0.2,0.4,0.6,0.2,0.9l0,0C393.3,27.4,392.9,27.5,392.6,27.3z"/>
							<g>
								<path fill="#FFFFFF" d="M391.3,28l-0.5-2.2c-0.1-0.3,0.1-0.5,0.4-0.6l2.2-0.4c0.3-0.1,0.5,0.1,0.6,0.4l0,0
									c0.1,0.3-0.1,0.5-0.4,0.6l-1.2,0.3c-0.3,0.1-0.4,0.3-0.4,0.6l0.3,1.3c0.1,0.3-0.1,0.5-0.4,0.6l0,0
									C391.6,28.4,391.3,28.3,391.3,28z"/>
							</g>
							<g>
								<path fill="#FFFFFF" d="M379.6,20.5L379.6,20.5c-0.1-0.3,0.1-0.5,0.4-0.6l1.3-0.3c0.3-0.1,0.4-0.3,0.4-0.6l-0.3-1.2
									c-0.1-0.3,0.1-0.5,0.4-0.6l0,0c0.3-0.1,0.5,0.1,0.6,0.4l0.5,2.2c0.1,0.3-0.1,0.5-0.4,0.6l-2.2,0.5
									C379.9,20.9,379.6,20.8,379.6,20.5z"/>
							</g>
							<path fill="#FFFFFF" d="M380,27.2L380,27.2c-0.2-0.3-0.1-0.7,0.2-0.9l12.5-8c0.3-0.2,0.7-0.1,0.9,0.2l0,0
								c0.2,0.3,0.1,0.7-0.2,0.9l-12.5,8C380.5,27.5,380.1,27.4,380,27.2z"/>
							<g>
								<path fill="#FFFFFF" d="M381.6,28.4L381.6,28.4c-0.3-0.1-0.4-0.3-0.4-0.6l0.3-1.3c0.1-0.3-0.1-0.5-0.4-0.6l-1.2-0.3
									c-0.3-0.1-0.4-0.3-0.4-0.6l0,0c0.1-0.3,0.3-0.4,0.6-0.4l2.2,0.4c0.3,0.1,0.4,0.3,0.4,0.6l-0.5,2.2
									C382.1,28.3,381.9,28.4,381.6,28.4z"/>
							</g>
							<g>
								<path fill="#FFFFFF" d="M393.3,20.9l-2.2-0.5c-0.3-0.1-0.4-0.3-0.4-0.6l0.5-2.2c0.1-0.3,0.3-0.4,0.6-0.4l0,0
									c0.3,0.1,0.4,0.3,0.4,0.6l-0.3,1.2c-0.1,0.3,0.1,0.5,0.4,0.6l1.3,0.3c0.3,0.1,0.4,0.3,0.4,0.6l0,0
									C393.8,20.8,393.6,20.9,393.3,20.9z"/>
							</g>
						</g>
					</g>
					<rect x="352" fill="none" width="50" height="50"/>
				</g>
				</svg>
				<span id="current-summary">Raining</span>
			</p>
		</div>
	</div>

	<div id="address-box" class="form-invisible">
		<div id="close-add-box">
			<button id="close-add-btn">&times</button>
		</div>
		<h3 id="add-box-text">Enter Address To Get Weather</h3>
		<form action="">
			<input type="text" id="inp-add" placeholder="Location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Location'">
			<button id="submit-btn">Search</button>
		</form>
	</div>

    </div>
    <script src="script.js"></script>
</body>
</html>